Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-10, with the labels that each got.

#2437 PAB-4559: Change log for PAQ bug fix for alarm and event updates
  content/change-logs/analytics/apama-in-c8y-20240913-Alarm-Input-and-Event-Input-blocks-no-longer-use-incorrect-source-time-for-alarm-and-event-updates.md
Labels: streaming-analytics

#2482 Create ui-c8y-1020-29-0-configuration-list-migrated-to-data-grid.md
  content/change-logs/device-management/ui-c8y-1020-29-0-configuration-list-migrated-to-data-grid.md
Labels: automated-change-note

#2473 Create ui-c8y-1020-28-8-no-possibility-to-delete-devices-in-child-devices-grid.md
  content/change-logs/device-management/ui-c8y-1020-28-8-no-possibility-to-delete-devices-in-child-devices-grid.md
Labels: automated-change-note

#2474 Create ui-c8y-1020-28-9-ui-filtering-the-alarm-audit-logs-with-date-filter-displays-wrong.md
  content/change-logs/platform-services/ui-c8y-1020-28-9-ui-filtering-the-alarm-audit-logs-with-date-filter-displays-wrong.md
Labels: automated-change-note

#2477 Create ui-c8y-1020-28-10-upgraded-angular-gettext-tools-to-fix-vulnerabilities-found-in-nth-check.md
  content/change-logs/application-enablement/ui-c8y-1020-28-10-upgraded-angular-gettext-tools-to-fix-vulnerabilities-found-in-nth-check.md
Labels: automated-change-note

#2481 Create ui-c8y-1020-28-12-fixed-issues-in-the-asset-properties-widget-on-device-info-page.md
  content/change-logs/device-management/ui-c8y-1020-28-12-fixed-issues-in-the-asset-properties-widget-on-device-info-page.md
Labels: automated-change-note

#2446 Create ui-c8y-1020-26-4-use-new-object-mapping-component-for-opc-ua-6834-graft-release.md
  content/change-logs/device-management/ui-c8y-1020-26-4-use-new-object-mapping-component-for-opc-ua-6834-graft-release.md
Labels: automated-change-note

#2418 Create ui-c8y-1020-24-2-totp-challenge-view-6870-graft-release-cd-7013.md
  content/change-logs/platform-services/ui-c8y-1020-24-2-totp-challenge-view-6870-graft-release-cd-7013.md
Labels: automated-change-note

#2489 Create ui-c8y-1020-30-0-enable-edit-mode-when-freshly-created-dashboard-is-opened-7151-7248.md
  content/change-logs/application-enablement/ui-c8y-1020-30-0-enable-edit-mode-when-freshly-created-dashboard-is-opened-7151-7248.md
Labels: automated-change-note

#2456 Create ui-c8y-1020-28-2-disable-edit-duplicate-options-for-global-smartrules-displayed-in-other-views.md
  content/change-logs/platform-services/ui-c8y-1020-28-2-disable-edit-duplicate-options-for-global-smartrules-displayed-in-other-views.md
Labels: automated-change-note

#2486 Create ui-c8y-1020-29-1-info-gauge-widget-should-support-device-type-dashboards-7241.md
  content/change-logs/application-enablement/ui-c8y-1020-29-1-info-gauge-widget-should-support-device-type-dashboards-7241.md
Labels: automated-change-note

#2501 BH#38_Broken_Link_corrected
  content/get-familiar-with-the-ui/platform-access.md
Labels: auto-backport, auto-backport-to-release/y2024

#2505 Corrected 'to able series' to 'to enable series'
  content/standard-tenant/managing-data-bundle/latest-value.md
Labels: auto-backport, auto-backport-to-release/y2024

#2493 Create ui-c8y-1020-31-1-global-title-is-now-considered-if-a-bookmark-is-set.md
  content/change-logs/application-enablement/ui-c8y-1020-31-1-global-title-is-now-considered-if-a-bookmark-is-set.md
Labels: automated-change-note

#2510 Create ui-c8y-1020-32-0-changed-dm-title-to-be-title-cased.md
  content/change-logs/device-management/ui-c8y-1020-32-0-changed-dm-title-to-be-title-cased.md
Labels: automated-change-note

#2515 Git migration
  .backportrc.json
  .github/workflows/auto-backport.yml
  .github/workflows/pull-request.yml
  .github/workflows/staging.yml
Labels: auto-backport, auto-backport-to-release/r10.18.0, auto-backport-to-release/y2024

#2498 Apama block-sdk and eplapps tools repos are migrated to Cumulocity-IoT org
  content/streaming-analytics/analytics-builder-bundle/understanding-models.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
Labels: auto-backport, auto-backport-to-release/y2024, streaming-analytics

#2499 Apama block-sdk and eplapps tools repos are migrated to Cumulocity-IoT org [10.18]
  content/streaming-analytics/analytics-builder-bundle/understanding-models.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
Labels: auto-backport, auto-backport-to-release/r10.17.0, streaming-analytics

#2514 Create ui-c8y-1020-32-2-fix-running-karma-tests-against-ngx-components-for-layered-products-7320.md
  content/change-logs/application-enablement/ui-c8y-1020-32-2-fix-running-karma-tests-against-ngx-components-for-layered-products-7320.md
Labels: automated-change-note

#2513 Create ui-c8y-1018-503-124-info-gauge-widget-should-support-device-type-dashboards-7312.md
  content/change-logs/application-enablement/ui-c8y-1018-503-124-info-gauge-widget-should-support-device-type-dashboards-7312.md
Labels: automated-change-note

#2492 Create ui-c8y-1020-31-0-pass-selected-ids-to-bulk-action-control.md
  content/change-logs/device-management/ui-c8y-1020-31-0-pass-selected-ids-to-bulk-action-control.md
Labels: automated-change-note

#2448 Create ui-c8y-1020-26-5-removing-not-used-error-actual-role-can-be-remove-even-is.md
  content/change-logs/platform-services/ui-c8y-1020-26-5-removing-not-used-error-actual-role-can-be-remove-even-is.md
Labels: automated-change-note

#2434 PAB-4604: Change log for Extract Property block
  content/change-logs/analytics/apama-in-c8y-20240912-Extract-a-property-with-a-period-in-its-name-using-the-Extract-Property-block.md
Labels: streaming-analytics

#2471 Automated Handover: 25.262.0 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/utility.md
Labels: streaming-analytics

#2539 Create ui-c8y-1020-39-1-the-delete-popup-now-closes-correctly-if-another-delete-button-is.md
  content/change-logs/application-enablement/ui-c8y-1020-39-1-the-delete-popup-now-closes-correctly-if-another-delete-button-is.md
Labels: automated-change-note

#2530 Create ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
  content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
Labels: automated-change-note

#2516 Create ui-c8y-1020-33-0-allow-possibility-for-global-asset-search-when-duplicating-private-smartrule-but.md
  content/change-logs/application-enablement/ui-c8y-1020-33-0-allow-possibility-for-global-asset-search-when-duplicating-private-smartrule-but.md
Labels: automated-change-note

#2547 added sector for each file where we want to see the options
  content/edge-kubernetes/architecture-concept.md
  content/edge-kubernetes/k8-connecting-devices-to-edge.md
  content/edge-kubernetes/k8-using-edge.md
  content/edge/connecting-devices-to-edge.md
  content/edge/edge-rest-api.md
  content/edge/edge-update.md
  content/edge/using-edge.md
Labels: auto-backport, auto-backport-to-release/y2024

#2532 Create ui-c8y-1020-35-2-fix-typeahead-validation-when-using-json-path-in-display-property.md
  content/change-logs/application-enablement/ui-c8y-1020-35-2-fix-typeahead-validation-when-using-json-path-in-display-property.md
Labels: automated-change-note
