Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-04, with the labels that each got.

#1860 Create ui-c8y-1019-16-1-new-versions-for-plugins-are-no-longer-marked-as-latest-5770.md
  content/change-logs/platform-services/ui-c8y-1019-16-1-new-versions-for-plugins-are-no-longer-marked-as-latest-5770.md
Labels: automated-change-note

#1880 Update dtm-1019-1-8-map-marker-visibility-based-on-location-property-…
  content/change-logs/application-enablement/dtm-1019-1-8-map-marker-visibility-based-on-location-property-values-in-map-widget.md
Labels: auto-backport, auto-backport-to-release/y2024

#1788 ignore case on username login release note
  content/change-logs/platform-services/cumulocity-10-20-182-0-ignore-case-on-username-login.md
Labels: Draft, not-yet-deployed

#1901 PAQ change log for /prometheus improvement (PAB-4411)
  content/change-logs/analytics/apama-in-c8y-20240319-More-efficient-implementation-of-the-prometheus-endpoint-in-the-Streaming-Analytics-microservices.md
Labels: streaming-analytics

#1910 Update databroker-edge to mention using version 1017
  content/edge/databroker-bundle/databroker-edge.md
Labels: 10.17.0

#1911 Important note that edge on k8s is only supported on a single-node cluster
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
Labels: 10.17.0

#1912 Added information about using a ConfigMap for HTTP Proxy
  content/edge-k8s/installing-edge-on-k8-bundle/k8-edge-configuring-proxy.md
  static/files/edge-k8s/c8yedge.yaml
Labels: 10.17.0

#1913 EDGE-CIE-5005-First-Login-Password-Reset
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-edge.md
  content/edge/configuration-bundle/configuring-apama.md
  content/edge/configuration-bundle/configuring-karaf.md
  content/edge/configuration-bundle/configuring-opcua.md
  content/edge/connecting-devices-to-edge-bundle/connecting-modbus-device.md
  content/edge/connecting-devices-to-edge-bundle/connecting-opcua-device.md
  content/edge/installation-bundle/accessing-platform.md
  content/edge/operating-edge-bundle/health-check.md
  content/edge/operating-edge-bundle/logs-files.md
  content/edge/operating-edge-bundle/monitoring.md
  content/edge/operating-edge-bundle/start-stop-services.md
  content/edge/remote-connectivity-bundle/accessing-the-edge-appliance-remotely-through-vnc.md
  static/images/edge-k8s/edge-k8s-cookie-banner.png
  static/images/edge-k8s/edge-k8s-login-banner.png
  static/images/edge-k8s/edge-k8s-reset-password.png
Labels: 10.17.0

#1921 Create ui-c8y-1019-19-7-adjust-ui-info-gauge-widget-labels-6018-graft-release-cd-6049.md
  content/change-logs/application-enablement/ui-c8y-1019-19-7-adjust-ui-info-gauge-widget-labels-6018-graft-release-cd-6049.md
Labels: automated-change-note

#1909 Create ui-c8y-1019-18-1-fix-data-point-list-widget-redirecting-assets-devices-incorrectly-5831-graft.md
  content/change-logs/application-enablement/ui-c8y-1019-18-1-fix-data-point-list-widget-redirecting-assets-devices-incorrectly-5831-graft.md
Labels: automated-change-note

#1927 Create ui-c8y-1019-20-0-extend-the-dynamic-forms-page-in-codex.md
  content/change-logs/application-enablement/ui-c8y-1019-20-0-extend-the-dynamic-forms-page-in-codex.md
Labels: automated-change-note

#1929 Create ui-c8y-1019-20-1-calendar-in-dropdown-appended-to-body-so-it-does-not-get.md
  content/change-logs/device-management/ui-c8y-1019-20-1-calendar-in-dropdown-appended-to-body-so-it-does-not-get.md
Labels: automated-change-note

#1934 Create ui-c8y-1018-503-75-calendar-in-dropdown-appended-to-body-so-it-does-not-get.md
  content/change-logs/device-management/ui-c8y-1018-503-75-calendar-in-dropdown-appended-to-body-so-it-does-not-get.md
Labels: automated-change-note

#1935 Change a smart rules tab name to Smart rules
  content/cockpit/smart-rules.md
Labels: auto-backport, auto-backport-to-release/y2024

#1936 Add a new flag to create new app command
  content/web/gettingstarted.md
Labels: auto-backport, auto-backport-to-release/y2024

#1950 Create ui-c8y-1019-20-4-graft-release-cd-fixed-new-line-characters-for-results-in-shell.md
  content/change-logs/device-management/ui-c8y-1019-20-4-graft-release-cd-fixed-new-line-characters-for-results-in-shell.md
Labels: automated-change-note

#1944 Link to security hardening guidelines as a pdf 1015
  content/edge/configuration-bundle/configuring-security.md
  static/files/edge/Security_Hardening_Guidelines_guide_1015.pdf
Labels: 10.15.0, Edge

#1964 Create ui-c8y-1019-20-8-disable-dashboard-availability-select-if-user-has-no-permission-to-request.md
  content/change-logs/application-enablement/ui-c8y-1019-20-8-disable-dashboard-availability-select-if-user-has-no-permission-to-request.md
Labels: automated-change-note

#1965 Create ui-c8y-1018-503-78-disable-dashboard-availability-select-if-user-has-no-permission-to-request.md
  content/change-logs/application-enablement/ui-c8y-1018-503-78-disable-dashboard-availability-select-if-user-has-no-permission-to-request.md
Labels: automated-change-note

#1952 Create ui-c8y-1019-20-5-add-cdk-trap-focus-to-the-list-group-actions-dropdown-6016.md
  content/change-logs/application-enablement/ui-c8y-1019-20-5-add-cdk-trap-focus-to-the-list-group-actions-dropdown-6016.md
Labels: automated-change-note

#1969 Create ui-c8y-1018-503-80-adjust-ui-info-gauge-widget-labels-6018-graft-release-y-2024.md
  content/change-logs/application-enablement/ui-c8y-1018-503-80-adjust-ui-info-gauge-widget-labels-6018-graft-release-y-2024.md
Labels: automated-change-note

#1968 Create ui-c8y-1018-503-80-add-cdk-trap-focus-to-the-list-group-actions-dropdown-6016.md
  content/change-logs/application-enablement/ui-c8y-1018-503-80-add-cdk-trap-focus-to-the-list-group-actions-dropdown-6016.md
Labels: automated-change-note

#1960 Create ui-c8y-1018-503-77-fix-software-list-schema-definition-for-properties-library.md
  content/change-logs/device-management/ui-c8y-1018-503-77-fix-software-list-schema-definition-for-properties-library.md
Labels: automated-change-note

#1956 Create ui-c8y-1019-20-6-fix-software-list-schema-definition-for-properties-library.md
  content/change-logs/device-management/ui-c8y-1019-20-6-fix-software-list-schema-definition-for-properties-library.md
Labels: automated-change-note

#1939 Edge cie 4367 monitoring and troubleshooting commands 1018
  content/edge/configuration-bundle/configuring-microservices.md
  content/edge/operating-edge-bundle/monitoring.md
  content/edge/operating-edge-bundle/troubleshooting.md
  static/images/edge/edge-monitoring-02.png
  static/images/edge/edge-monitoring.png
  static/images/edge/monit_status_microservice_hosting.png
Labels: 10.18.0, not-yet-deployed, Edge

#1940 Updated two commands in Quickstart and Installing Cumulocity IoT Edge
  content/edge-k8s/installing-edge-on-k8-bundle/install-edge.md
  content/edge-k8s/quickstart.md
Labels: 10.18.0, not-yet-deployed, Edge

#1941 Update version for databroker to 1018
  content/edge/databroker-bundle/databroker-edge.md
Labels: 10.18.0, not-yet-deployed, Edge

#1942 Update-VMWare-Support-Statement
  content/edge/installation-bundle/prerequisites.md
Labels: 10.18.0, not-yet-deployed, Edge

#1932 [Edge 10.18] Edge update the version in the static files to 10.18
  content/edge-k8s.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-validation-loop-backoff.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-edge.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator.md
  content/edge-k8s/k8-edge-introduction.md
  content/edge-k8s/manage-edge-bundle/version-upgrade.md
  content/edge-k8s/quickstart.md
  content/edge/edge-introduction-bundle/versions.md
  static/files/edge-k8s/c8y-edge-version.yaml
  static/files/edge-k8s/c8yedge-operator-install.sh
  static/files/edge-k8s/c8yedge-sample.yaml
  static/files/edge-k8s/c8yedge.yaml
Labels: 10.18.0, not-yet-deployed, Edge

#1923 Link to security hardening guidelines as a pdf 1018
  content/edge/configuration-bundle/configuring-security.md
  content/edge/installation-bundle/edge-security-hardening.md
  static/files/edge/Security_Hardening_Guidelines_guide_1018.pdf
Labels: 10.18.0, not-yet-deployed, Edge

#1925 Edge cie 5018 remote software management
  content/edge-k8s/k8-edge-connecting-edge-to-cloud-bundle/software-management-docs.md
Labels: 10.18.0, not-yet-deployed, Edge

#1922 Edge CIE-5089 Metrics Monitoring Documentation
  content/edge-k8s/edge-k8s-troubleshooting.md
  content/edge-k8s/edge-operations-bundle/index.html
  content/edge-k8s/edge-operations-bundle/installing-monitoring-tools.md
  content/edge-k8s/edge-operations-bundle/monitoring.md
  content/edge-k8s/edge-operations.md
Labels: 10.18.0, not-yet-deployed, Edge

#1931 [10.18 release] Edge-CIE-5182 10.17 to 10.18 Migration of Edge Appliance
  content/edge/update-bundle/migration-1017-to-1018.md
  content/edge/update-bundle/migration-107-to-109.md
  content/edge/update-bundle/updating-edge-gui.md
  static/files/edge/edge-1017-to-1018-data-migration.sh
Labels: 10.18.0, not-yet-deployed, Edge

#1957 Document installing local harbor registry and Edge on K8S in an air-gapped environment
  content/edge-k8s/installing-edge-on-k8-bundle/air-gapped-installation.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator.md
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-k8s/quickstart.md
  content/edge/update-bundle/migration-1017-to-1018.md
  static/files/edge-k8s/c8yedge-harbor-values.yaml
  static/files/edge-k8s/custom-environment-variables.yaml
  static/files/edge-k8s/edge_repository_sync-1018.0.0-py3-none-any.whl
  static/files/edge-k8s/registrysync.py
Labels: 10.18.0, not-yet-deployed, Edge

#1904 PAQ change log for CumulocityForwarder (PAB-4429)
  content/change-logs/analytics/apama-in-c8y-20240404-Improved-runtime-performance-of-Analytics-Builder.md
Labels: streaming-analytics

#1958 [DTM] - Complex property ordering
  content/dtm/asset-hierarchy-bundle/creating-assets-ui.md
  content/dtm/asset-hierarchy-bundle/viewing-assets.md
  content/dtm/asset-types-bundle/asset-properties.md
  static/images/dtm/custom-property/dtm-property-library-complex-property.png
Labels: not-yet-deployed

#2000 Create ui-c8y-1018-503-84-direct-sub-users-count-indicator-for-a-user-is-missing-in.md
  content/change-logs/platform-services/ui-c8y-1018-503-84-direct-sub-users-count-indicator-for-a-user-is-missing-in.md
Labels: automated-change-note

#1961 [DTM] - User experience improved for complex property ordering
  content/change-logs/application-enablement/dtm-1020-1-4-ui-improvement-for-ordering-of-complex-properties.md
Labels: not-yet-deployed

#2001 Create ui-c8y-1019-23-5-direct-sub-users-count-indicator-for-a-user-is-missing-in.md
  content/change-logs/platform-services/ui-c8y-1019-23-5-direct-sub-users-count-indicator-for-a-user-is-missing-in.md
Labels: automated-change-note
