Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-06, with the labels that each got.

#2118 Create ui-c8y-1018-503-90-body-text-in-the-confirmation-modal-for-logging-out-all-users.md
  content/change-logs/platform-services/ui-c8y-1018-503-90-body-text-in-the-confirmation-modal-for-logging-out-all-users.md
Labels: automated-change-note

#2123 Create ui-c8y-1020-0-9-missing-german-translation-in-successmessage-in-bulk-device-upload-6325-graft.md
  content/change-logs/device-management/ui-c8y-1020-0-9-missing-german-translation-in-successmessage-in-bulk-device-upload-6325-graft.md
Labels: automated-change-note

#2124 Create ui-c8y-1018-503-91-missing-german-translation-in-successmessage-in-bulk-device-upload-6325-graft.md
  content/change-logs/device-management/ui-c8y-1018-503-91-missing-german-translation-in-successmessage-in-bulk-device-upload-6325-graft.md
Labels: automated-change-note

#2110 Create ui-c8y-1020-0-0-extend-the-dynamic-forms-page-in-codex.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-extend-the-dynamic-forms-page-in-codex.md
Labels: automated-change-note

#2081 Create ui-c8y-1020-0-0-create-a-type-dashboard-list-view-5975.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-create-a-type-dashboard-list-view-5975.md
Labels: automated-change-note

#2082 Create ui-c8y-1020-0-0-self-imported-plugins-should-also-be-added-if-the-user-has.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-self-imported-plugins-should-also-be-added-if-the-user-has.md
Labels: automated-change-note

#2078 Create ui-c8y-1019-24-6-fix-type-error-when-using-hook-device-list-columns-with-factory.md
  content/change-logs/device-management/ui-c8y-1019-24-6-fix-type-error-when-using-hook-device-list-columns-with-factory.md
Labels: automated-change-note

#2143 Change PNGs for delete and move row to class definitions
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  static/images/streaming-analytics/analytics-builder/icon-delete-row.png
  static/images/streaming-analytics/analytics-builder/icon-move-row.png
  static/images/streaming-analytics/analytics-builder/icon-remove-template-parameter.png
Labels: not-yet-deployed, streaming-analytics

#1984 Reintroduce "MTM-58246 Update the Web SDK with information about Angular 17"
  content/web/gettingstarted.md
  content/web/introduction.md
  content/web/upgrade-bundle/upgrading-to-angular-17.md
Labels: not-yet-deployed

#2134 Create ui-c8y-1018-503-92-standard-applications-descriptions-are-not-translated-y-2024-6462.md
  content/change-logs/platform-services/ui-c8y-1018-503-92-standard-applications-descriptions-are-not-translated-y-2024-6462.md
Labels: automated-change-note

#2158 Create ui-c8y-1020-0-16-when-the-modal-for-maximum-number-of-archives-is-cancelled-by.md
  content/change-logs/application-enablement/ui-c8y-1020-0-16-when-the-modal-for-maximum-number-of-archives-is-cancelled-by.md
Labels: automated-change-note

#2162 Create ui-c8y-1018-503-95-when-the-modal-for-maximum-number-of-archives-is-cancelled-by.md
  content/change-logs/application-enablement/ui-c8y-1018-503-95-when-the-modal-for-maximum-number-of-archives-is-cancelled-by.md
Labels: automated-change-note

#2139 Create ui-c8y-1020-0-11-update-report-icon-in-navigator-6411-graft-release-cd-6474.md
  content/change-logs/application-enablement/ui-c8y-1020-0-11-update-report-icon-in-navigator-6411-graft-release-cd-6474.md
Labels: automated-change-note

#2088 Create ui-c8y-1020-0-0-default-value-is-displayed-on-edit-mode-of-asset-property-in.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-default-value-is-displayed-on-edit-mode-of-asset-property-in.md
Labels: automated-change-note

#2130 Create ui-c8y-1020-0-10-smart-rule-contains-unexpected-child-mo-6409-graft-release-cd-6458.md
  content/change-logs/application-enablement/ui-c8y-1020-0-10-smart-rule-contains-unexpected-child-mo-6409-graft-release-cd-6458.md
Labels: automated-change-note

#2161 Create ui-c8y-1018-503-94-smart-rule-contains-unexpected-child-mo-6409-graft-release-y-2024.md
  content/change-logs/application-enablement/ui-c8y-1018-503-94-smart-rule-contains-unexpected-child-mo-6409-graft-release-y-2024.md
Labels: automated-change-note

#2165 Create ui-c8y-1020-0-17-device-data-widget-with-long-software-list-fix.md
  content/change-logs/device-management/ui-c8y-1020-0-17-device-data-widget-with-long-software-list-fix.md
Labels: automated-change-note

#2163 Create ui-c8y-1018-503-96-device-data-widget-with-long-software-list-fix-6475-graft-release.md
  content/change-logs/device-management/ui-c8y-1018-503-96-device-data-widget-with-long-software-list-fix-6475-graft-release.md
Labels: automated-change-note

#1954 PAQ: Remove Digital Event Services from doc (APMF-2627)
  content/streaming-analytics/epl-apps-bundle/best-practices.md
Labels: streaming-analytics

#1955 PAQ: Remove Command Central from doc (APMF-2620)
  content/streaming-analytics/epl-apps-bundle/best-practices.md
Labels: streaming-analytics

#2050 PAQ change log entry for infinite loop with pageSize (PAM-34761)
  content/change-logs/analytics/apama-in-c8y-20240514-REST-queries-with-pageSize-set-to-1-no-longer-loop-infinitely.md
Labels: not-yet-deployed, streaming-analytics

#2149 PAQ: Change log for resizable description field for models (PAB-4521)
  content/change-logs/analytics/apama-in-c8y-20240605-Resizable-description-field-for-models-in-Streaming-Analytics-application.md
Labels: streaming-analytics

#2151 PAQ: Save and grid icons no longer shown in read-only mode (PAB-2240)
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
Labels: streaming-analytics

#2152 PAQ: Change log for icons that are no longer shown in read-only mode (PAB-2240)
  content/change-logs/analytics/apama-in-c8y-202406-06-icons-in-read-only-mode.md
Labels: streaming-analytics

#2146 PAQ: Update doc for Analytics Builder and EPL Apps consistency (PAB-4521)
  content/streaming-analytics/analytics-builder-bundle/getting-started.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
  static/images/streaming-analytics/analytics-builder/model-editor.png
Labels: streaming-analytics

#2154 [DM-3627] [DOC] Missing step to add the following dependency to POM file
  content/protocol-integration/lpwan-custom-codec-bundle/using-the-lpwan-custom-codec-library.md
Labels: auto-backport, auto-backport-to-release/y2024

#2185 Create ui-c8y-1020-0-22-loading-locals-for-none-default-languages-is-now-possible.md
  content/change-logs/application-enablement/ui-c8y-1020-0-22-loading-locals-for-none-default-languages-is-now-possible.md
Labels: automated-change-note

#2181 Create ui-c8y-1020-0-19-updated-documentation-link-for-edge-docs-6516-graft-release-cd-6522.md
  content/change-logs/application-enablement/ui-c8y-1020-0-19-updated-documentation-link-for-edge-docs-6516-graft-release-cd-6522.md
Labels: automated-change-note

#2115 Feature/changelog cdh exploration additional columns
  content/change-logs/analytics/datahub-11-0-136-Exploration-of-additional-columns.md
Labels: not-yet-deployed, DataHub

#2114 Feature/changelog cdh enhanced homepage
  content/change-logs/analytics/datahub-11-0-136-Enhanced-landing-page.md
Labels: not-yet-deployed, DataHub

#1640 CDH-4156: Dynamic homepage
  content/datahub/getting-started-with-datahub-bundle/accessing-and-logging-in.md
  content/datahub/getting-started-with-datahub-bundle/overview-of-ui-features.md
  content/datahub/getting-started-with-datahub-bundle/tenant-and-user-settings.md
  content/datahub/working-with-datahub-bundle/monitoring-offloading-jobs.md
Labels: DataHub

#1639 Feature/data hub addtl cols exploration
  content/datahub/working-with-datahub-bundle/configuring-offloading-jobs.md
  static/images/datahub-guide/datahub-add-addtl-col.png
Labels: DataHub

#2189 Removing extra page
  content/edge/edge-10-17-0.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2215 Create ui-c8y-1020-2-6-link-child-additions-of-the-source-dashboard-to-the-pasted-dashboard.md
  content/change-logs/application-enablement/ui-c8y-1020-2-6-link-child-additions-of-the-source-dashboard-to-the-pasted-dashboard.md
Labels: automated-change-note

#2200 Create ui-c8y-1020-1-0-show-assets-and-groups-on-list-for-edit-type-dashboard-instance.md
  content/change-logs/application-enablement/ui-c8y-1020-1-0-show-assets-and-groups-on-list-for-edit-type-dashboard-instance.md
Labels: automated-change-note

#2216 Create ui-c8y-1020-2-7-asset-selector-not-emitting-correctly-the-first-selected-item-6511-graft.md
  content/change-logs/application-enablement/ui-c8y-1020-2-7-asset-selector-not-emitting-correctly-the-first-selected-item-6511-graft.md
Labels: automated-change-note

#2213 Create ui-c8y-1020-2-5-add-permissions-check-for-the-copy-dashboard-action-6493-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1020-2-5-add-permissions-check-for-the-copy-dashboard-action-6493-graft-release.md
Labels: automated-change-note

#2220 Create ui-c8y-1020-2-10-lwm-2-m-single-registration-spelling-error-6460-graft-release-cd.md
  content/change-logs/device-management/ui-c8y-1020-2-10-lwm-2-m-single-registration-spelling-error-6460-graft-release-cd.md
Labels: automated-change-note

#2221 Create ui-c8y-1018-503-103-link-child-additions-of-the-source-dashboard-to-the-pasted-dashboard.md
  content/change-logs/application-enablement/ui-c8y-1018-503-103-link-child-additions-of-the-source-dashboard-to-the-pasted-dashboard.md
Labels: automated-change-note

#2183 Changelogs for Digital Twin Manager 1020.1.10
  content/change-logs/application-enablement/dtm-1020.1.10-adjust-list-group-for-complex-properties-and-fix-drag-and-drop.md
Labels: automated-change-note

#2172 PAB-4449: Change info on version numbers in right drawer
  content/streaming-analytics/troubleshooting-bundle/diagnostics-download.md
Labels: streaming-analytics

#2177 PAB-4449: Change log for removed version numbers in right drawer
  content/change-logs/analytics/apama-in-c8y-20240612-Version-numbers-in-Streaming-Analytics-application-moved-to-platform-details-file.md
Labels: streaming-analytics

#2232 Edge troubleshooting commands typos 2024 branch
  content/edge-kubernetes/k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-kubernetes/quickstart.md
  content/microservice-sdk/http-bundle/python-microservice.md
Labels: release/y2024, Edge

#2233 Edge troubleshooting commands typos 10.18 branch
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-k8s/quickstart.md
  content/microservice-sdk/http-bundle/hello-microservice-python.md
Labels: 10.18.0, Edge

#2212 Create ui-c8y-1020-2-4-remove-angular-js-modal-for-adding-group-in-widgets-and-use.md
  content/change-logs/application-enablement/ui-c8y-1020-2-4-remove-angular-js-modal-for-adding-group-in-widgets-and-use.md
Labels: automated-change-note
