Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-05, with the labels that each got.

#1933 DM-3507 Documentation & Change Log for new MQTT static template
  content/change-logs/device-management/cumulocity-10-20-325-0-New-Static-Template-150-CRA.md
  content/smartrest/mqtt-static-templates.md
Labels: not-yet-deployed

#1996 Create ui-c8y-1019-23-3-if-the-max-value-of-a-datapoint-is-0-it-is.md
  content/change-logs/application-enablement/ui-c8y-1019-23-3-if-the-max-value-of-a-datapoint-is-0-it-is.md
Labels: automated-change-note

#2007 Update Edge tile from 10.17 to 10.18
  content/edge/edge-introduction-bundle/versions.md
  content/section/edge_server/_index.md
Labels: release/y2024, Edge

#2008 Update links to api documentation to have version number
  content/edge/rest-api.md
  content/edge/update-bundle/updating-edge-rest.md
  content/edge/update.md
Labels: 10.18.0, Edge

#2009 Update links to api documentation to have version number
  content/edge/rest-api.md
  content/edge/update-bundle/updating-edge-rest.md
  content/edge/update.md
Labels: 10.17.0, Edge

#1989 Create ui-c8y-1019-22-2-navigator-nodes-are-now-correctly-removed-when-refreshing-the-sub-assets.md
  content/change-logs/application-enablement/ui-c8y-1019-22-2-navigator-nodes-are-now-correctly-removed-when-refreshing-the-sub-assets.md
Labels: automated-change-note

#1990 Create ui-c8y-1018-503-81-navigator-nodes-are-now-correctly-removed-when-refreshing-the-sub-assets.md
  content/change-logs/application-enablement/ui-c8y-1018-503-81-navigator-nodes-are-now-correctly-removed-when-refreshing-the-sub-assets.md
Labels: automated-change-note

#1992 Create ui-c8y-1019-22-3-fixed-breadcrumbs-for-global-and-inventory-roles-tabs-under-accounts-roles.md
  content/change-logs/platform-services/ui-c8y-1019-22-3-fixed-breadcrumbs-for-global-and-inventory-roles-tabs-under-accounts-roles.md
Labels: automated-change-note

#1991 Create ui-c8y-1018-503-82-uploading-package-versions-via-ui-now-take-the-correct-limit-graft.md
  content/change-logs/application-enablement/ui-c8y-1018-503-82-uploading-package-versions-via-ui-now-take-the-correct-limit-graft.md
Labels: automated-change-note

#1982 Create ui-c8y-1019-22-0-private-smart-rule-not-need-datacontext-6031-graft-release-cd-6197.md
  content/change-logs/application-enablement/ui-c8y-1019-22-0-private-smart-rule-not-need-datacontext-6031-graft-release-cd-6197.md
Labels: automated-change-note

#1983 Create ui-c8y-1019-22-0-block-searching-when-creating-editing-private-smartrule-5817-graft-release-cd.md
  content/change-logs/application-enablement/ui-c8y-1019-22-0-block-searching-when-creating-editing-private-smartrule-5817-graft-release-cd.md
Labels: automated-change-note

#2010 PAB-4478: Operation is sent back to device that raised the alarm
  content/cockpit/smart-rules-collection.md
Labels: auto-backport, auto-backport-to-release/y2024, streaming-analytics

#2018 Fix minor typos and api links
  content/edge-k8s/installing-edge-on-k8-bundle/air-gapped-installation.md
  content/edge/configuration-bundle/configuring-apama.md
  content/edge/configuration-bundle/configuring-opcua.md
  content/edge/operating-edge-bundle/troubleshooting.md
Labels: 10.18.0, Edge

#2011 PAB-4478: Fix doc for "On alarm execute operation" on 10.18
  content/users-guide/cockpit-bundle/smart-rules-collection.md
Labels: 10.18.0, streaming-analytics

#2019 Remove duplicate section in 10.17
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
Labels: 10.17.0, Edge

#2024 Add note regarding identical release notes
  content/change-logs/edge/edge-appliance-vm-10-18-0-Release-identical-to-10-18.md
  content/change-logs/edge/edge-on-kubernetes-10-18-0-Release-identical-to-10-18.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#1938 PAQ: Change "remove" to "delete", incl. some icon changes (PAB-4466)
  content/streaming-analytics/analytics-builder-bundle/getting-started.md
  content/streaming-analytics/analytics-builder-bundle/monitoring-and-configuration.md
  content/streaming-analytics/analytics-builder-bundle/using-the-instance-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
  static/images/streaming-analytics/analytics-builder/model-manager.png
  static/images/streaming-analytics/epl-apps/epl-apps-editor.png
Labels: streaming-analytics

#1907 PAQ 2024 release note for CumulocityForwarder (PAB-4429)
  content/change-logs/analytics/apama-in-c8y-20240404-Improved-runtime-performance-of-Analytics-Builder.md
Labels: release/y2024, streaming-analytics

#1902 PAQ 2024 release note for /prometheus improvement (PAB-4411)
  content/change-logs/analytics/apama-in-c8y-20240319-More-efficient-implementation-of-the-prometheus-endpoint-in-the-Streaming-Analytics-microservices.md
Labels: release/y2024, streaming-analytics

#2028 Update Tile to Edge 10.18
  content/section/edge_server/_index.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2027 [GRAFT][release/y2024] Add note regarding identical release notes
  content/change-logs/edge/edge-appliance-vm-10-18-0-Release-identical-to-10-18.md
  content/change-logs/edge/edge-on-kubernetes-10-18-0-Release-identical-to-10-18.md
Labels: release/y2024, Edge

#2032 Edge release notes 2024 identical to 1018
  content/change-logs/edge/edge-appliance-vm-10-18-0-Release-identical-to-10-18.md
  content/change-logs/edge/edge-on-kubernetes-10-18-0-Release-identical-to-10-18.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2033 Edge release notes 2024 identical to 1018 release y2024
  content/change-logs/edge/edge-appliance-vm-10-18-0-Release-identical-to-10-18.md
  content/change-logs/edge/edge-on-kubernetes-10-18-0-Release-identical-to-10-18.md
Labels: release/y2024, Edge

#2014 Create ui-c8y-1018-503-85-label-change-aim-iam-6039.md
  content/change-logs/platform-services/ui-c8y-1018-503-85-label-change-aim-iam-6039.md
Labels: automated-change-note, authentication

#2013 Create ui-c8y-1019-23-7-fix-typo-in-iam-5661-graft-release-cd-6038.md
  content/change-logs/platform-services/ui-c8y-1019-23-7-fix-typo-in-iam-5661-graft-release-cd-6038.md
Labels: automated-change-note, authentication

#1994 Create ui-c8y-1019-23-1-tfa-strategy-updated-by-tfa-endpoint-6146-graft-release-cd-6211.md
  content/change-logs/platform-services/ui-c8y-1019-23-1-tfa-strategy-updated-by-tfa-endpoint-6146-graft-release-cd-6211.md
Labels: automated-change-note, authentication

#1993 Create ui-c8y-1019-23-0-toogle-switch-for-password-case-sensitive-5334-graft-release-cd-6003.md
  content/change-logs/platform-services/ui-c8y-1019-23-0-toogle-switch-for-password-case-sensitive-5334-graft-release-cd-6003.md
Labels: automated-change-note, authentication

#1987 Create ui-c8y-1019-22-1-btn-default-for-sso-login-button-5488-graft-release-cd-6158.md
  content/change-logs/platform-services/ui-c8y-1019-22-1-btn-default-for-sso-login-button-5488-graft-release-cd-6158.md
Labels: automated-change-note, authentication

#2038 fix: edge base url references
  .github/workflows/staging.yml
  content/edge-kubernetes/installing-edge-on-k8-bundle/air-gapped-installation.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-operator.md
  content/edge-kubernetes/quickstart.md
  themes/c8ydocs/layouts/shortcodes/link-c8y-doc-baseurl.html
Labels: documentation, auto-backport, auto-backport-to-release/y2024

#2039 Edge - c8yedge_pod_memory_usage instead of duplicate cpu_usage
  content/edge-kubernetes/edge-operations-bundle/monitoring.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2040 c8yedge_pod_memory_usage instead of duplicate cpu_usage
  content/edge-k8s/edge-operations-bundle/monitoring.md
Labels: 10.18.0, Edge

#2041 Update Edge appliance documentation to have operations for rest api
  content/edge/edge-configuration-bundle/changing-domain-name.md
  content/edge/edge-configuration-bundle/configuring-microservices.md
  content/edge/edge-configuration-bundle/configuring-security.md
  content/edge/edge-configuration-bundle/configuring-the-hostname.md
  content/edge/edge-configuration-bundle/configuring-the-network.md
  content/edge/edge-configuration-bundle/configuring-time-sync.md
  content/edge/edge-configuration-bundle/updating-ssl-certificate.md
  content/edge/edge-connectivity-bundle/config-remote-connectivity-rest-api.md
  content/edge/edge-installation-bundle/installing-edge-rest.md
  content/edge/edge-rest-api.md
  content/edge/edge-update-bundle/updating-edge-rest.md
  content/edge/operating-edge-bundle/diagnostic-report-through-rest-api.md
  content/edge/operating-edge-bundle/edge-reboot.md
  content/edge/operating-edge-bundle/expanding-the-disk-size.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2045 Update Edge appliance documentation to have operations for rest api 2024
  content/edge/edge-configuration-bundle/changing-domain-name.md
  content/edge/edge-configuration-bundle/configuring-microservices.md
  content/edge/edge-configuration-bundle/configuring-security.md
  content/edge/edge-configuration-bundle/configuring-the-hostname.md
  content/edge/edge-configuration-bundle/configuring-the-network.md
  content/edge/edge-configuration-bundle/configuring-time-sync.md
  content/edge/edge-configuration-bundle/updating-ssl-certificate.md
  content/edge/edge-connectivity-bundle/config-remote-connectivity-rest-api.md
  content/edge/edge-installation-bundle/installing-edge-rest.md
  content/edge/edge-rest-api.md
  content/edge/edge-update-bundle/updating-edge-rest.md
  content/edge/operating-edge-bundle/diagnostic-report-through-rest-api.md
  content/edge/operating-edge-bundle/edge-reboot.md
  content/edge/operating-edge-bundle/expanding-the-disk-size.md
Labels: release/y2024, Edge

#2042 Update Edge appliance documentation to have operations for rest api 1018
  content/edge/configuration-bundle/changing-domain-name.md
  content/edge/configuration-bundle/configuring-microservices.md
  content/edge/configuration-bundle/configuring-security.md
  content/edge/configuration-bundle/configuring-the-hostname.md
  content/edge/configuration-bundle/configuring-the-network.md
  content/edge/configuration-bundle/configuring-time-sync.md
  content/edge/configuration-bundle/updating-ssl-certificate.md
  content/edge/installation-bundle/installing-edge-rest.md
  content/edge/operating-edge-bundle/diagnostic-report-through-rest-api.md
  content/edge/operating-edge-bundle/edge-reboot.md
  content/edge/operating-edge-bundle/expanding-the-disk-size.md
  content/edge/remote-connectivity-bundle/config-remote-connectivity-rest-api.md
  content/edge/rest-api.md
  content/edge/update-bundle/updating-edge-rest.md
Labels: 10.18.0, Edge

#1963 PAQ: Use of icons in Streaming Analytics doc
  content/streaming-analytics/analytics-builder-bundle/getting-started.md
  content/streaming-analytics/analytics-builder-bundle/using-the-instance-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
  content/streaming-analytics/epl-apps-bundle/microservices.md
  content/streaming-analytics/introduction-analytics-bundle/home.md
  content/streaming-analytics/troubleshooting-bundle/alarms.md
  content/streaming-analytics/troubleshooting-bundle/diagnostics-download.md
  static/images/streaming-analytics/analytics-builder/icon-add-selection-list.png
  static/images/streaming-analytics/analytics-builder/icon-clear-template-selection.png
  static/images/streaming-analytics/analytics-builder/icon-delete-selection.png
  static/images/streaming-analytics/analytics-builder/icon-exit.png
  static/images/streaming-analytics/analytics-builder/icon-grid-active.png
  static/images/streaming-analytics/analytics-builder/icon-grid-inactive.png
  static/images/streaming-analytics/analytics-builder/icon-group-collapse.png
  static/images/streaming-analytics/analytics-builder/icon-group-expand.png
  static/images/streaming-analytics/analytics-builder/icon-group.png
  static/images/streaming-analytics/analytics-builder/icon-instance-editor-exit.png
  static/images/streaming-analytics/analytics-builder/icon-model-parameters-with-checkmark.png
  static/images/streaming-analytics/analytics-builder/icon-model-parameters.png
  static/images/streaming-analytics/analytics-builder/icon-overview-hide.png
  static/images/streaming-analytics/analytics-builder/icon-overview-show.png
  static/images/streaming-analytics/analytics-builder/icon-redo.png
  static/images/streaming-analytics/analytics-builder/icon-replace.png
  static/images/streaming-analytics/analytics-builder/icon-save.png
  static/images/streaming-analytics/analytics-builder/icon-undo.png
  static/images/streaming-analytics/analytics-builder/icon-ungroup.png
  static/images/streaming-analytics/analytics-builder/icon-zoomin.png
  static/images/streaming-analytics/analytics-builder/icon-zoomout.png
  static/images/streaming-analytics/analytics-builder/instance-editor-error.png
  static/images/streaming-analytics/analytics-builder/option-defined-parameter.png
  static/images/streaming-analytics/analytics-builder/option-template-parameter.png
Labels: streaming-analytics

#2005 [DM-3601] device operations goes directly to pending state
  content/change-logs/device-management/cumulocity-10-18-540-112-device-operations-goes-directly-to-pending.md
Labels: 10.18.0, release/y2024

#1998 PAQ change log entry for new Bookmarks section (PAB-4472)
  content/change-logs/analytics/apama-in-c8y-20240426-Bookmarks-available-from-User-menu-in-Streaming-Analytics-application.md
Labels: streaming-analytics

#2052 PAQ change log for transient network issues (PAB-4447)
  content/change-logs/analytics/apama-in-c8y-20240515-Improved-robustness-of-Streaming-Analytics-against-transient-network-issues.md
Labels: streaming-analytics

#2047 Create ui-c8y-1019-23-9-fixing-an-issue-with-the-web-scoket-connection-for-angular-dev.md
  content/change-logs/application-enablement/ui-c8y-1019-23-9-fixing-an-issue-with-the-web-scoket-connection-for-angular-dev.md
Labels: automated-change-note

#2066 Create ui-c8y-1018-503-88-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
  content/change-logs/application-enablement/ui-c8y-1018-503-88-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
Labels: automated-change-note

#2065 Create ui-c8y-1019-24-2-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
  content/change-logs/application-enablement/ui-c8y-1019-24-2-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
Labels: automated-change-note

#2055 Create ui-c8y-1019-24-0-replace-device-as-plugin-graft-release-cd.md
  content/change-logs/device-management/ui-c8y-1019-24-0-replace-device-as-plugin-graft-release-cd.md
Labels: automated-change-note

#2068 Add information regarding default username and password 10.18
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-edge.md
Labels: auto-backport, auto-backport-to-release/r10.17.0, 10.18.0, Edge

#2067 Add information regarding default username and password
  content/edge-kubernetes/installing-edge-on-k8-bundle/accessing-edge.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2074 Add information regarding default username and password
  content/edge-kubernetes/installing-edge-on-k8-bundle/accessing-edge.md
Labels: release/y2024, Edge

#2056 Create ui-c8y-1019-24-1-missing-translation-in-ui-6208.md
  content/change-logs/platform-services/ui-c8y-1019-24-1-missing-translation-in-ui-6208.md
Labels: automated-change-note

#2057 Create ui-c8y-1018-503-86-missing-translation-in-ui-6210.md
  content/change-logs/platform-services/ui-c8y-1018-503-86-missing-translation-in-ui-6210.md
Labels: automated-change-note

#2075 Create ui-c8y-1019-24-3-user-message-in-device-list-page-is-incorrect-when-no-devices.md
  content/change-logs/device-management/ui-c8y-1019-24-3-user-message-in-device-list-page-is-incorrect-when-no-devices.md
Labels: automated-change-note

#2087 Create ui-c8y-1020-0-0-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-data-points-graph-realtime-disabled-when-tab-is-in-background-6288.md
Labels: automated-change-note

#2093 Create ui-c8y-1020-0-0-extract-the-reports-view-into-a-separate-plugin-5966.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-extract-the-reports-view-into-a-separate-plugin-5966.md
Labels: automated-change-note

#2086 Create ui-c8y-1020-0-0-dashboard-widget-update-affects-only-one-widget-issue-fix-6302.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-dashboard-widget-update-affects-only-one-widget-issue-fix-6302.md
Labels: automated-change-note

#2083 Create ui-c8y-1020-0-0-widget-drag-fix-6358.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-widget-drag-fix-6358.md
Labels: automated-change-note

#2113 Create ui-c8y-1020-0-0-mtm-58276-adjust-branded-dashboard-6024.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-mtm-58276-adjust-branded-dashboard-6024.md
Labels: automated-change-note

#2090 Create ui-c8y-1020-0-0-services-removed-from-the-app-module-and-loaded-as-a-plugin.md
  content/change-logs/device-management/ui-c8y-1020-0-0-services-removed-from-the-app-module-and-loaded-as-a-plugin.md
Labels: automated-change-note

#2085 Create ui-c8y-1020-0-0-ng-cli-name-context-path-and-key-are-updated-automatically-when.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-ng-cli-name-context-path-and-key-are-updated-automatically-when.md
Labels: automated-change-note

#2101 Create ui-c8y-1020-0-0-separated-asm-as-a-plugin-5939.md
  content/change-logs/device-management/ui-c8y-1020-0-0-separated-asm-as-a-plugin-5939.md
Labels: automated-change-note

#2079 Create ui-c8y-1020-0-0-use-routing-in-alarms-6264.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-use-routing-in-alarms-6264.md
Labels: automated-change-note

#2080 Create ui-c8y-1020-0-0-asset-selector-showing-by-default-the-selected-element-4776.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-asset-selector-showing-by-default-the-selected-element-4776.md
Labels: automated-change-note

#2084 Create ui-c8y-1020-0-0-added-alert-when-mo-delete-operation-is-taking-more-time.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-added-alert-when-mo-delete-operation-is-taking-more-time.md
Labels: automated-change-note

#2096 Create ui-c8y-1020-0-0-load-dynamic-options-from-app-specific-path-6207.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-load-dynamic-options-from-app-specific-path-6207.md
Labels: automated-change-note

#2103 Create ui-c8y-1020-0-0-add-info-on-how-to-style-shell-application-via-plugin-6177.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-add-info-on-how-to-style-shell-application-via-plugin-6177.md
Labels: automated-change-note

#2104 Create ui-c8y-1020-0-0-navigator-node-property-is-now-correctly-changed-after-dashboard-restore.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-navigator-node-property-is-now-correctly-changed-after-dashboard-restore.md
Labels: automated-change-note

#2125 Replace shell with yaml where required
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-configuration.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/k8-edge-configuring-proxy.md
  content/edge-kubernetes/k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-kubernetes/k8s-troubleshooting-bundle/edge-k8s-cr-status-validation-loop-backoff.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2127 Replace shell with yaml where required in 10.18
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-configuration.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-validation-loop-backoff.md
  content/edge-k8s/installing-edge-on-k8-bundle/k8-edge-configuring-proxy.md
Labels: 10.18.0, Edge

#2126 Rework first login and password reset to improve flow
  content/edge-kubernetes/installing-edge-on-k8-bundle/accessing-edge.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, Edge

#2128 Rework first login and password reset to improve flow 10.18
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-edge.md
Labels: 10.18.0, Edge
