Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-11, with the labels that each got.

#2524 added a new section for terms and conditions
  config.toml
  content/about-documentation-card.md
  content/about_documentation/_index.html
  content/about_documentation/documentation-repository.md
  content/about_documentation/scope.md
  content/legal-notices-card.md
  content/legal-notices/Cloud-Trial-Service-Agreement.md
  content/legal-notices/copyright.md
  content/legal-notices/data-protection.md
  content/legal-notices/imprint.md
  content/legal-notices/privacy-notice.md
  content/legal-notices/third-party-information.md
  content/legal-notices/us-state-privacy-notice.md
  content/previous-versions-card.md
  content/previous-versions/_index.html
  content/product-documentation-card.md
  content/product-documentation/_index.html
  content/sector/terms_conditions/_index.md
  themes/c8ydocs/layouts/partials/footer.html
Labels: Draft, not-yet-deployed

#2602 Adds changelog for apama-in-c8y-20241104-Fixed-a-potential-deadlock
  content/change-logs/analytics/apama-in-c8y-20241104-Fixed-a-potential-deadlock-when-a-large-number-of-requests-are-waiting-to-be-flushed.md
Labels: auto-backport, not-yet-deployed, auto-backport-to-release/y2024, streaming-analytics

#2468 Changelogs for Digital Twin Manager Plugins 1.1.1
  content/change-logs/application-enablement/dtm-1.1.1-updated-confirmation-message-when-deleting-an-asset-on-the-subassets-page.md
Labels: not-yet-deployed, automated-change-note

#2580 Create ui-c8y-1021-0-0-add-message-banner-to-branding-editor-7085.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-add-message-banner-to-branding-editor-7085.md
Labels: automated-change-note

#2572 Create ui-c8y-1021-0-0-device-name-goes-missing-when-switching-to-smart-rule-tab-7206.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-device-name-goes-missing-when-switching-to-smart-rule-tab-7206.md
Labels: automated-change-note

#2534 MTM-60178 Update the Web SDK with information about Angular 18
  content/web/gettingstarted.md
  content/web/introduction.md
  content/web/upgrade-bundle/upgrading-to-angular-18.md
Labels: not-yet-deployed

#2561 Create ui-c8y-1020-40-1-fieldbus-write-register.md
  content/change-logs/device-management/ui-c8y-1020-40-1-fieldbus-write-register.md
Labels: automated-change-note

#2550 Create ui-c8y-1020-40-0-avoid-unnecessary-unavailability-alarms-for-lw-m-2-m-device-graft.md
  content/change-logs/device-management/ui-c8y-1020-40-0-avoid-unnecessary-unavailability-alarms-for-lw-m-2-m-device-graft.md
  content/protocol-integration/lwm2m-bundle/device-details.md
  content/protocol-integration/lwm2m-bundle/registering-lwm2m-devices.md
Labels: not-yet-deployed, automated-change-note

#2594 Create ui-c8y-1021-0-2-fix-do-not-remove-scripts-from-the-svg-in-the-scada.md
  content/change-logs/application-enablement/ui-c8y-1021-0-2-fix-do-not-remove-scripts-from-the-svg-in-the-scada.md
Labels: automated-change-note

#2566 Create ui-c8y-1018-503-126-avoid-unnecessary-unavailability-alarms-for-lw-m-2-m-device-graft.md
  content/change-logs/device-management/ui-c8y-1018-503-126-avoid-unnecessary-unavailability-alarms-for-lw-m-2-m-device-graft.md
  content/protocol-integration/lwm2m-bundle/device-details.md
  content/protocol-integration/lwm2m-bundle/registering-lwm2m-devices.md
Labels: automated-change-note

#2612 [DM-4150] - lwm2m bugfix
  content/change-logs/device-management/lwm2m-agent_10-20-410-0_csv-optional-fields-fix.md
Labels: auto-backport, auto-backport-to-release/y2024

#2606 Create ui-c8y-1021-0-7-fixed-issue-with-info-gauge-resizing-7490.md
  content/change-logs/application-enablement/ui-c8y-1021-0-7-fixed-issue-with-info-gauge-resizing-7490.md
Labels: automated-change-note

#2604 Create ui-c8y-1018-503-129-fixed-issue-with-info-gauge-resizing-7491.md
  content/change-logs/application-enablement/ui-c8y-1018-503-129-fixed-issue-with-info-gauge-resizing-7491.md
Labels: automated-change-note

#2573 Create ui-c8y-1021-0-0-change-label-of-the-position-input-in-the-dashboard-settings-7240.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-change-label-of-the-position-input-in-the-dashboard-settings-7240.md
Labels: automated-change-note

#2621 [DM-4150] - lwm2m bugfix - graft
  content/change-logs/device-management/cumulocity-10-18-540-239-LWM2M-csv-optional-fields.md
Labels: DM-docs

#2575 Create ui-c8y-1021-0-0-acivating-user-switch-reworked.md
  content/change-logs/device-management/ui-c8y-1021-0-0-acivating-user-switch-reworked.md
Labels: automated-change-note

#2574 Create ui-c8y-1021-0-0-fix-disable-alarms-refresh-section-when-be-returns-403-status-7050.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-fix-disable-alarms-refresh-section-when-be-returns-403-status-7050.md
Labels: automated-change-note

#2585 Create ui-c8y-1021-0-0-added-types-to-widget-configuration.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-added-types-to-widget-configuration.md
Labels: automated-change-note

#2600 Create ui-c8y-1021-0-5-update-cockpit-illustrations-7492.md
  content/change-logs/application-enablement/ui-c8y-1021-0-5-update-cockpit-illustrations-7492.md
Labels: automated-change-note

#2608 Create ui-c8y-1021-0-8-emit-move-event-only-when-dragstart-event-emits-7376-7507.md
  content/change-logs/application-enablement/ui-c8y-1021-0-8-emit-move-event-only-when-dragstart-event-emits-7376-7507.md
Labels: automated-change-note

#2586 Create ui-c8y-1021-0-0-remove-i-labels-interface-7239.md
  content/change-logs/application-enablement/ui-c8y-1021-0-0-remove-i-labels-interface-7239.md
Labels: automated-change-note

#2478 [MTM-56477] User documentation for time series migration process
  content/datahub/working-with-datahub-bundle/aligning-data-modeling-and-offloading.md
  content/enterprise-tenant/enhanced-time-series-support-bundle/general-configuration.md
  content/enterprise-tenant/enhanced-time-series-support-bundle/index.html
  content/enterprise-tenant/enhanced-time-series-support-bundle/migration-process-description.md
  content/enterprise-tenant/enhanced-time-series-support.md
Labels: not-yet-deployed

#2636 Cumulocity Edge Copyright label - Develop
  static/files/edge/backup.sh
  static/files/edge/restore.sh
  static/files/edge/restore_analytics.sh
Labels: auto-backport, auto-backport-to-release/y2024

#2639 Create ui-c8y-1021-3-0-added-grid-to-the-device-profiles-list.md
  content/change-logs/device-management/ui-c8y-1021-3-0-added-grid-to-the-device-profiles-list.md
Labels: automated-change-note

#2646 Create ui-c8y-1021-4-0-filter-chips-codex-examples.md
  content/change-logs/device-management/ui-c8y-1021-4-0-filter-chips-codex-examples.md
Labels: automated-change-note

#2649 Create ui-c8y-1021-4-2-ui-fail-firmware-update-process-if-device-reports-unexpected-update-result.md
  content/change-logs/device-management/ui-c8y-1021-4-2-ui-fail-firmware-update-process-if-device-reports-unexpected-update-result.md
Labels: automated-change-note

#2641 Create ui-c8y-1021-3-1-the-correct-icon-is-now-displayed-when-in-root-group-context.md
  content/change-logs/application-enablement/ui-c8y-1021-3-1-the-correct-icon-is-now-displayed-when-in-root-group-context.md
Labels: automated-change-note

#2642 Create ui-c8y-1018-503-131-the-correct-icon-is-now-displayed-when-in-root-group-context.md
  content/change-logs/application-enablement/ui-c8y-1018-503-131-the-correct-icon-is-now-displayed-when-in-root-group-context.md
Labels: automated-change-note

#2652 Create ui-c8y-1021-4-4-added-logic-for-trimming-values-in-provider-connectivity-forms.md
  content/change-logs/device-management/ui-c8y-1021-4-4-added-logic-for-trimming-values-in-provider-connectivity-forms.md
Labels: automated-change-note

#2651 [MTM-61288] add KPI widget documentation to widget collection
  content/cockpit/widgets-collection.md
  static/images/users-guide/cockpit/cockpit-widget-kpi.png
Labels: auto-backport, auto-backport-to-release/y2024

#2559 Automated Handover: 25.299.0 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/flow-manipulation.md
Labels: streaming-analytics

#2622 Adds changelog for apama-in-c8y-20241108-Setting-a-negative-value
  content/change-logs/analytics/apama-in-c8y-20241108-Setting-a-negative-value-for-`client.numClients`-now-results-in-the-default-value-of-1-being-used.md
Labels: streaming-analytics

#2611 Adds date for changelog for apama-in-c8y-20241104-Fixed-a-potential-deadlock
  content/change-logs/analytics/apama-in-c8y-20241104-Fixed-a-potential-deadlock-when-a-large-number-of-requests-are-waiting-to-be-flushed.md
Labels: streaming-analytics

#2553 Add details about the new dropped events alarm [PAB-4618]
  content/change-logs/analytics/apama-in-c8y-20241024-New-alarm-for-delayed-input-events-that-are-dropped-from-Analytics-Builder-models.md
  content/streaming-analytics/troubleshooting-bundle/alarms.md
Labels: streaming-analytics

#2662 Migrate Streaming Analytics documentation to Amazon ECR
  content/change-logs/analytics/apama-in-c8y-20241121-Apama-Docker-images-moved-to-Amazon-ECR.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
Labels: streaming-analytics

#2669 Create ui-c8y-1021-6-2-provide-proper-validation-error-for-branding-variant-name-7626.md
  content/change-logs/application-enablement/ui-c8y-1021-6-2-provide-proper-validation-error-for-branding-variant-name-7626.md
Labels: automated-change-note

#2672 DM-4214 re-enabling LWM2M deprecated content format
  content/change-logs/device-management/cumulocity-10-18-540-246-lwm2m-support-of-deprecated-device-content-format.md
Labels: DM-docs

#2675 Create ui-c8y-1021-7-0-change-default-date-selection-option-in-widgets-to-dashboard-time-range.md
  content/change-logs/application-enablement/ui-c8y-1021-7-0-change-default-date-selection-option-in-widgets-to-dashboard-time-range.md
Labels: automated-change-note

#2676 Create ui-c8y-1021-8-0-provide-option-to-enable-disable-dashboard-manager-in-the-app-configuration.md
  content/change-logs/application-enablement/ui-c8y-1021-8-0-provide-option-to-enable-disable-dashboard-manager-in-the-app-configuration.md
Labels: automated-change-note

#2678 use github app for workflows
  .github/workflows/auto-backport.yml
  .github/workflows/daily-changelog-dates-trigger.yml
  .github/workflows/pull-request.yml
  .github/workflows/update-changelog-dates.yml
Labels: auto-backport, auto-backport-to-release/r10.18.0, auto-backport-to-release/y2024

#2677 Create ui-c8y-1018-503-134-fixed-data-grid-group-dropdown-issues-7608.md
  content/change-logs/device-management/ui-c8y-1018-503-134-fixed-data-grid-group-dropdown-issues-7608.md
Labels: automated-change-note

#2538 [MTM-61090] Added section about "Limits" tab for tenants
  content/enterprise-tenant/managing-tenants-bundle/custom-properties.md
  content/enterprise-tenant/managing-tenants-bundle/setting-limits.md
Labels: not-yet-deployed
