Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-03, with the labels that each got.

#1761 PAQ: Copied over the release note from PAM 10.15.5 (PAM-34463)
  content/change-logs/analytics/apama-in-c8y-20240301-Events-no-longer-throw-exceptions-from-the-isCreate-and-isUpdate-actions.md
Labels: streaming-analytics

#1762 PAQ: Improve already published change log entries as requested by Rob
  content/change-logs/analytics/apama-in-c8y-25-52-0-Copy-the-JSON-code-of-an-Analytics-Builder-model-to-the-clipboard.md
  content/change-logs/analytics/apama-in-c8y-25-52-0-New-command-for-copying-the-JSON-code-of-a-model.md
  content/change-logs/analytics/apama-in-c8y-25-54-0-Streaming-Analytics-microservices-upgraded-to-Red-Hat-UBI-9.md
  content/change-logs/analytics/apama-in-c8y-25-55-0-New-filters-for-selecting-the-input-source-or-output-destination.md
Labels: streaming-analytics

#1770 Create ui-c8y-1018-503-54-unable-to-switch-tabs-when-dashboard-has-two-widgets-with-dashboard.md
  content/change-logs/ui-c8y-1018-503-54-unable-to-switch-tabs-when-dashboard-has-two-widgets-with-dashboard.md
Labels: automated-change-note

#1768 Create ui-c8y-1019-7-3-unable-to-switch-tabs-when-dashboard-has-two-widgets-with-dashboard.md
  content/change-logs/ui-c8y-1019-7-3-unable-to-switch-tabs-when-dashboard-has-two-widgets-with-dashboard.md
Labels: automated-change-note

#1764 Create ui-c8y-1019-6-12-adjust-font-family-and-font-size-for-japanese-5407-graft-release.md
  content/change-logs/ui-c8y-1019-6-12-adjust-font-family-and-font-size-for-japanese-5407-graft-release.md
Labels: automated-change-note

#1760 Create ui-c8y-1019-6-11-configuration-ui-gets-supported-security-mode-list-from-the-lwm-2.md
  content/change-logs/ui-c8y-1019-6-11-configuration-ui-gets-supported-security-mode-list-from-the-lwm-2.md
Labels: automated-change-note

#1766 Create ui-c8y-1018-503-53-configuration-ui-gets-supported-security-mode-list-from-the-lwm-2.md
  content/change-logs/ui-c8y-1018-503-53-configuration-ui-gets-supported-security-mode-list-from-the-lwm-2.md
Labels: automated-change-note

#1759 Create ui-c8y-1019-6-11-ui-error-when-editing-smartrule-from-application-context-v-2-5430.md
  content/change-logs/ui-c8y-1019-6-11-ui-error-when-editing-smartrule-from-application-context-v-2-5430.md
Labels: automated-change-note

#1778 Create ui-c8y-1019-7-6-improve-api-examples-5676-graft-release-cd-5732.md
  content/change-logs/ui-c8y-1019-7-6-improve-api-examples-5676-graft-release-cd-5732.md
Labels: automated-change-note

#1753 Create ui-c8y-1019-6-9-ui-refresh-button-on-microservice-status-exclude-smartrules-5522-graft-release-cd-5630-co-authored-by-pawel-michalowski-pmic-softwareag-com.md
  content/change-logs/ui-c8y-1019-6-9-ui-refresh-button-on-microservice-status-exclude-smartrules-5522-graft-release-cd-5630-co-authored-by-pawel-michalowski-pmic-softwareag-com.md
Labels: automated-change-note

#1785 Create ui-c8y-1018-503-55-updated-documentation-for-support-url-4930-graft-release-y-2024-5735.md
  content/change-logs/ui-c8y-1018-503-55-updated-documentation-for-support-url-4930-graft-release-y-2024-5735.md
Labels: automated-change-note

#1783 Create ui-c8y-1019-7-7-adjust-widget-coordinates-and-size-to-fit-new-dashboard-grid.md
  content/change-logs/ui-c8y-1019-7-7-adjust-widget-coordinates-and-size-to-fit-new-dashboard-grid.md
Labels: automated-change-note

#1805 Create ui-c8y-1019-8-2-fix-added-bookmarks-should-show-page-title-label-not-default-value.md
  content/change-logs/ui-c8y-1019-8-2-fix-added-bookmarks-should-show-page-title-label-not-default-value.md
Labels: automated-change-note

#1789 Create ui-c8y-1019-7-8-fix-angular-js-breadcrumbs-to-also-work-with-asynchronously-resolved-values.md
  content/change-logs/ui-c8y-1019-7-8-fix-angular-js-breadcrumbs-to-also-work-with-asynchronously-resolved-values.md
Labels: automated-change-note

#1784 Create ui-c8y-1018-503-55-adjust-widget-coordinates-and-size-to-fit-new-dashboard-grid.md
  content/change-logs/ui-c8y-1018-503-55-adjust-widget-coordinates-and-size-to-fit-new-dashboard-grid.md
Labels: automated-change-note

#1807 Create ui-c8y-1019-9-0-update-btn-text-in-the-cockpit-setup-stepper-5801-graft-release.md
  content/change-logs/ui-c8y-1019-9-0-update-btn-text-in-the-cockpit-setup-stepper-5801-graft-release.md
Labels: automated-change-note

#1808 Create ui-c8y-1019-9-1-fix-add-pipe-to-generate-asset-group-device-map-marker-pop.md
  content/change-logs/ui-c8y-1019-9-1-fix-add-pipe-to-generate-asset-group-device-map-marker-pop.md
Labels: automated-change-note

#1822 Create ui-c8y-1019-11-1-use-valid-example-of-japanese-phone-number-in-the-translations-5859.md
  content/change-logs/platform-services/ui-c8y-1019-11-1-use-valid-example-of-japanese-phone-number-in-the-translations-5859.md
Labels: automated-change-note

#1801 Create ui-c8y-1019-7-13-dashboard-availability-is-now-disabled-for-the-home-dashboard-graft-release.md
  content/change-logs/ui-c8y-1019-7-13-dashboard-availability-is-now-disabled-for-the-home-dashboard-graft-release.md
Labels: automated-change-note

#1814 Create ui-c8y-1018-503-66-the-app-logo-height-was-not-correctly-set-if-a-new.md
  content/change-logs/ui-c8y-1018-503-66-the-app-logo-height-was-not-correctly-set-if-a-new.md
Labels: automated-change-note, fix

#1815 Create ui-c8y-1019-9-3-the-app-logo-height-was-not-correctly-set-if-a-new.md
  content/change-logs/ui-c8y-1019-9-3-the-app-logo-height-was-not-correctly-set-if-a-new.md
Labels: automated-change-note, fix

#1799 Create ui-c8y-1019-7-11-fix-navigator-app-icon-size-var-5756-graft-release-cd-5769.md
  content/change-logs/ui-c8y-1019-7-11-fix-navigator-app-icon-size-var-5756-graft-release-cd-5769.md
Labels: automated-change-note

#1820 Create ui-c8y-1019-11-0-the-size-of-the-measurement-displaying-line-was-increased.md
  content/change-logs/application-enablement/ui-c8y-1019-11-0-the-size-of-the-measurement-displaying-line-was-increased.md
Labels: automated-change-note

#1802 Create ui-c8y-1019-7-14-availability-translation-separated-for-jp-5755-graft-release-cd-5797.md
  content/change-logs/ui-c8y-1019-7-14-availability-translation-separated-for-jp-5755-graft-release-cd-5797.md
Labels: automated-change-note

#1803 Create ui-c8y-1018-503-63-availability-translation-separated-for-jp-5800-graft-release-y-2024-5821.md
  content/change-logs/ui-c8y-1018-503-63-availability-translation-separated-for-jp-5800-graft-release-y-2024-5821.md
Labels: automated-change-note

#1804 Create ui-c8y-1019-8-0-input-range-component-improvements-5505-graft-release-cd-5569.md
  content/change-logs/ui-c8y-1019-8-0-input-range-component-improvements-5505-graft-release-cd-5569.md
Labels: automated-change-note

#1821 Create ui-c8y-1018-503-68-use-valid-example-of-japanese-phone-number-in-the-translations-5859.md
  content/change-logs/platform-services/ui-c8y-1018-503-68-use-valid-example-of-japanese-phone-number-in-the-translations-5859.md
Labels: automated-change-note

#1798 PAM-34661: Copied over PAM release note for toDecimal into PAQ change log
  content/change-logs/analytics/apama-in-c8y-20240308-EPL-improvement-to-string-toDecimal-method.md
Labels: streaming-analytics

#1779 PAB-4353: Update doc for new Paste command
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/overview-analytics-bundle/analytics-builder.md
  static/images/streaming-analytics/analytics-builder/model-manager.png
Labels: not-yet-deployed, streaming-analytics

#1790 PAB-4353: Change log entry for new Paste command
  content/change-logs/analytics/apama-in-c8y-20240307-Paste-the-JSON-code-of-an-Analytics-Builder-model-from-the-clipboard.md
Labels: not-yet-deployed, streaming-analytics

#1781 [DM-3311] LWM2M agent process only one of a multiple Resource Instances sent in a row
  content/change-logs/device-management/lwm2m-agent-10-20-308-0-sent-in-a-row-lwm2m-resource-instance-not-processed.md
Labels: not-yet-deployed

#1843 Streaming Analytics - add missing version and date for changelog entries
  content/change-logs/analytics/apama-in-c8y-20240228-Asynchronous-alarm-inputs-no-longer-cause-internal-errors-in-model-chains.md
  content/change-logs/analytics/apama-in-c8y-20240308-EPL-improvement-to-string-toDecimal-method.md
Labels: streaming-analytics

#1832 Create ui-c8y-1018-503-70-manually-provided-units-should-have-a-higher-priority-compared-to-the.md
  content/change-logs/application-enablement/ui-c8y-1018-503-70-manually-provided-units-should-have-a-higher-priority-compared-to-the.md
Labels: automated-change-note

#1835 Create ui-c8y-1018-503-71-asset-selector-search-now-returning-the-same-as-normal-search-graft.md
  content/change-logs/application-enablement/ui-c8y-1018-503-71-asset-selector-search-now-returning-the-same-as-normal-search-graft.md
Labels: automated-change-note

#1840 Create ui-c8y-1019-13-3-ng-cli-prompt-verison-limit-is-now-5-additionally-the-latest.md
  content/change-logs/application-enablement/ui-c8y-1019-13-3-ng-cli-prompt-verison-limit-is-now-5-additionally-the-latest.md
Labels: automated-change-note

#1858 Create ui-c8y-1019-15-2-fix-log-output-when-running-local-dev-server-wrong-ports-5881.md
  content/change-logs/application-enablement/ui-c8y-1019-15-2-fix-log-output-when-running-local-dev-server-wrong-ports-5881.md
Labels: automated-change-note

#1824 MTM-56141 Update MQTT Service documentation with all necessary information about private preview
  content/device-integration/mqtt-service-bundle/implementation.md
  content/device-integration/mqtt-service-bundle/overview.md
Labels: Draft

#1837 Feature/r10.18.0 cdh 4491
  content/datahub/running-datahub-on-the-edge-bundle/datahub-edge-overview.md
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge-on-k8s.md
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge.md
  content/datahub/running-datahub-on-the-edge-bundle/working-with-datahub-edge.md
Labels: 10.18.0

#1855 Create ui-c8y-1019-15-1-add-missing-widgets-to-device-management-application.md
  content/change-logs/device-management/ui-c8y-1019-15-1-add-missing-widgets-to-device-management-application.md
Labels: automated-change-note

#1754 Create ui-c8y-1018-503-52-crl-c-8-y-help-5440-graft-release-y-2024-5487.md
  content/change-logs/ui-c8y-1018-503-52-crl-c-8-y-help-5440-graft-release-y-2024-5487.md
Labels: automated-change-note

#1867 Create ui-c8y-1019-16-4-map-widget-config-latitude-and-longitute-inputs-bugs-fixes-5819-graft.md
  content/change-logs/application-enablement/ui-c8y-1019-16-4-map-widget-config-latitude-and-longitute-inputs-bugs-fixes-5819-graft.md
Labels: automated-change-note

#1859 Create ui-c8y-1019-16-0-added-zip-argument-when-building-an-application-5452-graft-release-cd.md
  content/change-logs/application-enablement/ui-c8y-1019-16-0-added-zip-argument-when-building-an-application-5452-graft-release-cd.md
Labels: automated-change-note

#1871 Create ui-c8y-1019-17-1-help-and-service-widget-will-no-longer-open-a-new-tab.md
  content/change-logs/application-enablement/ui-c8y-1019-17-1-help-and-service-widget-will-no-longer-open-a-new-tab.md
Labels: automated-change-note

#1862 Create ui-c8y-1018-503-73-new-versions-for-plugins-are-no-longer-marked-as-latest-5770.md
  content/change-logs/platform-services/ui-c8y-1018-503-73-new-versions-for-plugins-are-no-longer-marked-as-latest-5770.md
Labels: automated-change-note

#1878 PAQ: Add missing PAM release note for the HTTP client (PAM-34520)
  content/change-logs/analytics/apama-in-c8y-24-18-0-HTTP-client-in-Apama-10-15-4-supports-truncating-responses.md
Labels: auto-backport, auto-backport-to-release/y2024, release/y2024, streaming-analytics
