Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-08, with the labels that each got.

#2326 Create ui-c8y-1020-14-0-mtm-60181-add-hook-service-for-alarm-detail-button-and-alarm.md
  content/change-logs/application-enablement/ui-c8y-1020-14-0-mtm-60181-add-hook-service-for-alarm-detail-button-and-alarm.md
Labels: automated-change-note

#2316 Create ui-c8y-1020-13-3-block-paste-dashboard-action-when-user-wants-to-copy-device-dashboard.md
  content/change-logs/application-enablement/ui-c8y-1020-13-3-block-paste-dashboard-action-when-user-wants-to-copy-device-dashboard.md
Labels: automated-change-note

#2315 Create ui-c8y-1018-503-108-block-paste-dashboard-action-when-user-wants-to-copy-device-dashboard.md
  content/change-logs/application-enablement/ui-c8y-1018-503-108-block-paste-dashboard-action-when-user-wants-to-copy-device-dashboard.md
Labels: automated-change-note

#2311 Announcement for auto-stopping pipelines
  content/change-logs/analytics/datahub-undefined-Announcement-failing-offloadings-stop.md
Labels: not-yet-deployed

#2282 PAB-4265: Change log for concatenation in Expression block
  content/change-logs/analytics/apama-in-c8y-20240716-Concatenate-each-value-type-with-a-string-type-using-the-Expression-block-in-Analytics-Builder.md
Labels: streaming-analytics

#2261 Automated Handover: 25.192.0 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/aggregate.md
  content/streaming-analytics/block-reference-bundle/calculation.md
Labels: streaming-analytics

#2246 PAB-4093: Change log for new parameters in Counter block
  content/change-logs/analytics/apama-in-c8y-20240704-Specify-maximum-values-for-the-Counter-block-in-Analytics-Builder.md
Labels: streaming-analytics

#2334 Create ui-c8y-1020-14-5-repository-configuration-saves-now-correctly-configuration-type-graft-release-cd.md
  content/change-logs/device-management/ui-c8y-1020-14-5-repository-configuration-saves-now-correctly-configuration-type-graft-release-cd.md
Labels: automated-change-note

#2329 Create ui-c8y-1020-14-3-alarms-no-longer-dissappear-when-severity-changes-via-smart-rules-graft.md
  content/change-logs/application-enablement/ui-c8y-1020-14-3-alarms-no-longer-dissappear-when-severity-changes-via-smart-rules-graft.md
Labels: automated-change-note

#2337 Create ui-c8y-1020-14-6-device-owner-toggle-will-not-switch-back-after-cancelling.md
  content/change-logs/device-management/ui-c8y-1020-14-6-device-owner-toggle-will-not-switch-back-after-cancelling.md
Labels: automated-change-note

#2338 Create ui-c8y-1020-14-7-preserve-white-spaces-and-new-lines-in-shell-component.md
  content/change-logs/device-management/ui-c8y-1020-14-7-preserve-white-spaces-and-new-lines-in-shell-component.md
Labels: automated-change-note

#2341 Create ui-c8y-1018-503-111-repository-configuration-saves-now-correctly-configuration-type-graft-release-y-2024.md
  content/change-logs/device-management/ui-c8y-1018-503-111-repository-configuration-saves-now-correctly-configuration-type-graft-release-y-2024.md
Labels: automated-change-note

#2002 Change log for "On missing measurements create alarm" smart rule (PAB-4487)
  content/change-logs/analytics/apama-in-c8y-20240429-Smart-rule-On-missing-measurements-create-alarm-now-sends-alarms-without-delay.md
Labels: streaming-analytics

#2346 Create ui-c8y-1020-14-10-changes-to-unit-in-the-dp-template-is-now-reflected-in.md
  content/change-logs/application-enablement/ui-c8y-1020-14-10-changes-to-unit-in-the-dp-template-is-now-reflected-in.md
Labels: automated-change-note

#2297 Create ui-c8y-1020-9-1-smart-rule-pin-dropdown-to-the-card-body-6553-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1020-9-1-smart-rule-pin-dropdown-to-the-card-body-6553-graft-release.md
Labels: automated-change-note

#2356 Create ui-c8y-1018-503-115-changes-to-unit-in-the-dp-template-is-now-reflected-in.md
  content/change-logs/application-enablement/ui-c8y-1018-503-115-changes-to-unit-in-the-dp-template-is-now-reflected-in.md
Labels: automated-change-note

#2348 Create ui-c8y-1020-14-12-fix-for-widgets-not-rendering-when-scroll-is-enabled-6822-graft.md
  content/change-logs/application-enablement/ui-c8y-1020-14-12-fix-for-widgets-not-rendering-when-scroll-is-enabled-6822-graft.md
Labels: automated-change-note

#2355 Create ui-c8y-1020-16-1-global-roles-application-and-microservice-view-6855-graft-release-cd-6882.md
  content/change-logs/platform-services/ui-c8y-1020-16-1-global-roles-application-and-microservice-view-6855-graft-release-cd-6882.md
Labels: automated-change-note

#2354 Create ui-c8y-1020-16-1-otp-auth-from-chl-or-data-6869-graft-release-cd-6883.md
  content/change-logs/platform-services/ui-c8y-1020-16-1-otp-auth-from-chl-or-data-6869-graft-release-cd-6883.md
Labels: automated-change-note

#2351 Create ui-c8y-1020-16-0-handle-projects-created-with-standalone-flag-set-to-true-wh-6414.md
  content/change-logs/application-enablement/ui-c8y-1020-16-0-handle-projects-created-with-standalone-flag-set-to-true-wh-6414.md
Labels: automated-change-note

#2350 Create ui-c8y-1018-503-114-block-searching-when-creating-editing-private-smartrule-graft-release-y-2024.md
  content/change-logs/application-enablement/ui-c8y-1018-503-114-block-searching-when-creating-editing-private-smartrule-graft-release-y-2024.md
Labels: automated-change-note

#2306 Changelogs for Digital Twin Manager 1020.1.14
  content/change-logs/application-enablement/dtm-1020.1.14-moved-add-asset-module-as-plugin-into-dtm-plugins.md
Labels: not-yet-deployed, automated-change-note

#2301 Changelogs for Digital Twin Manager 1020.1.13
  content/change-logs/application-enablement/dtm-1020.1.13-fixed-asset-creation-issue-after-importing-sample-asset-models.md
Labels: not-yet-deployed, automated-change-note

#2310 Create ui-c8y-1020-13-1-application-for-access-mapping-are-getting-from-application-6740-graft-release.md
  content/change-logs/platform-services/ui-c8y-1020-13-1-application-for-access-mapping-are-getting-from-application-6740-graft-release.md
Labels: automated-change-note

#2357 Create ui-c8y-1018-503-116-fix-permissions-check-in-can-edit-dashboard-6881.md
  content/change-logs/application-enablement/ui-c8y-1018-503-116-fix-permissions-check-in-can-edit-dashboard-6881.md
Labels: automated-change-note

#2368 Create ui-c8y-1020-18-3-translation-added-from-public-options-will-now-have-higher-priority-than.md
  content/change-logs/application-enablement/ui-c8y-1020-18-3-translation-added-from-public-options-will-now-have-higher-priority-than.md
Labels: automated-change-note

#2369 DM-3545 LWM2M docs added for device deletion
  content/protocol-integration/lwm2m-bundle/registering-lwm2m-devices.md
Labels: auto-backport, auto-backport-to-release/y2024, lwm2m

#2390 [backport][y2024] DM-3545 LWM2M docs added for device deletion
  content/protocol-integration/lwm2m-bundle/registering-lwm2m-devices.md
Labels: lwm2m
