Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-07, with the labels that each got.

#2237 Create ui-c8y-1020-2-12-adding-no-conflict-to-avoid-coliding-leaflet-versions-6622-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1020-2-12-adding-no-conflict-to-avoid-coliding-leaflet-versions-6622-graft-release.md
Labels: automated-change-note

#2238 Create ui-c8y-1020-2-13-adjust-widget-title-and-actions-for-overlay-and-hidden-appearance-6643.md
  content/change-logs/application-enablement/ui-c8y-1020-2-13-adjust-widget-title-and-actions-for-overlay-and-hidden-appearance-6643.md
Labels: automated-change-note

#2217 Changelogs for Digital Twin Manager 1020.1.11
  content/change-logs/application-enablement/dtm-1020.1.11-add-default-sample-asset-models.md
  content/change-logs/application-enablement/dtm-1020.1.11-update-label-capitalization.md
Labels: automated-change-note

#2184 MTM-59383 add information about force user to logout
  content/standard-tenant/managing-permissions-bundle/global-roles.md
Labels: auto-backport, auto-backport-to-release/r10.17.0, auto-backport-to-release/r10.18.0, auto-backport-to-release/y2024

#2244 Create ui-c8y-1020-3-2-load-title-decorator-on-loading-application-6621-graft-release-cd-6673.md
  content/change-logs/platform-services/ui-c8y-1020-3-2-load-title-decorator-on-loading-application-6621-graft-release-cd-6673.md
Labels: automated-change-note

#2256 Create ui-c8y-1020-4-2-update-angularjs-and-angular-schema-form-6690.md
  content/change-logs/application-enablement/ui-c8y-1020-4-2-update-angularjs-and-angular-schema-form-6690.md
Labels: automated-change-note

#2264 Changelogs for Digital Twin Manager 1020.1.12
  content/change-logs/application-enablement/dtm-1020.1.12-fixed-sample-asset-model-view-issue.md
Labels: automated-change-note

#2241 Create ui-c8y-1020-3-0-updated-internationalization-section-of-codex-6575-graft-release-cd-6660.md
  content/change-logs/application-enablement/ui-c8y-1020-3-0-updated-internationalization-section-of-codex-6575-graft-release-cd-6660.md
Labels: automated-change-note

#2265 Create ui-c8y-1020-6-1-repository-device-tabs-updated-to-only-show-unfinished-operations-in-their.md
  content/change-logs/device-management/ui-c8y-1020-6-1-repository-device-tabs-updated-to-only-show-unfinished-operations-in-their.md
Labels: automated-change-note

#2257 Create ui-c8y-1020-5-0-new-alarm-event-selector-can-now-be-used-in-custom-applications.md
  content/change-logs/application-enablement/ui-c8y-1020-5-0-new-alarm-event-selector-can-now-be-used-in-custom-applications.md
Labels: automated-change-note

#2267 Create ui-c8y-1020-6-2-pan-to-marker-popup-to-make-it-always-visible.md
  content/change-logs/application-enablement/ui-c8y-1020-6-2-pan-to-marker-popup-to-make-it-always-visible.md
Labels: automated-change-note

#2271 Create ui-c8y-1018-503-105-adding-no-conflict-to-avoid-coliding-leaflet-versions-6622-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1018-503-105-adding-no-conflict-to-avoid-coliding-leaflet-versions-6622-graft-release.md
Labels: automated-change-note

#2273 Create ui-c8y-1018-503-106-hide-navigator-should-work-in-cockpit-app-6710.md
  content/change-logs/application-enablement/ui-c8y-1018-503-106-hide-navigator-should-work-in-cockpit-app-6710.md
Labels: automated-change-note

#2286 PAQ: Changed "check box" to "checkbox" in Streaming Analytics doc
  content/change-logs/analytics/apama-in-c8y-25-55-0-New-Analytics-Builder-filters-for-selecting-the-input-source-or-output-destination.md
  content/streaming-analytics/analytics-builder-bundle/getting-started.md
  content/streaming-analytics/analytics-builder-bundle/monitoring-and-configuration.md
  content/streaming-analytics/analytics-builder-bundle/using-the-instance-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/analytics-builder-bundle/wires-and-blocks.md
Labels: streaming-analytics

#2138 PAQ: Software AG Installer is no longer used to install Apama 10.15.5 (PAM-34752)
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
Labels: not-yet-deployed, streaming-analytics

#2277 DM-2769 Minor LWM2M doc change / Add change log for DM-2769
  content/change-logs/device-management/lwm2m-agent-10-20-366-0-fix-serialization-of-date-and-binaries-in-operation-responses
  content/protocol-integration/lwm2m-bundle/handling-shell-commands.md
Labels: lwm2m

#2287 Create ui-c8y-1020-7-3-fixing-issue-with-resizing-of-data-point-widget-6708-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1020-7-3-fixing-issue-with-resizing-of-data-point-widget-6708-graft-release.md
Labels: automated-change-note

#2285 Create ui-c8y-1018-503-107-the-branding-editor-was-sometimes-running-into-issues-4918-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1018-503-107-the-branding-editor-was-sometimes-running-into-issues-4918-graft-release.md
Labels: automated-change-note

#2275 Create ui-c8y-1020-7-0-split-cockpit-into-module-federation-plugins-6713.md
  content/change-logs/application-enablement/ui-c8y-1020-7-0-split-cockpit-into-module-federation-plugins-6713.md
Labels: automated-change-note

#2320 [Edge 1018 Fix-1] Edge 1018.0.1 Fix release updates -- Renamed Edge Operator to Edge operator in the static files
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-cloud-tenant.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-mongodb-storage-size.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-mongodb.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-operator-offline.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  content/edge/edge-connectivity-bundle/accessing-the-edge-appliance-remotely-through-ssh.md
  content/edge/edge-installation-bundle/prerequisites.md
  static/files/edge-k8s/c8yedge-operator-install.sh
  static/files/edge-k8s/c8yedge.yaml
Labels: auto-backport, 10.18.0, auto-backport-to-release/y2024, Edge

#2319 [Edge 1018 Fix-1] GRAFT to 10.18 branch - Edge 1018.0.1 Fix release updates
  content/edge-k8s/architecture-concept.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-cloud-tenant.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-mongodb-cred-secret.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-mongodb-storage-size.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-mongodb.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-resources-limits-spec.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-k8s/edge-custom-resource-definition-bundle/tls-secret.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-install-update-loop-backoff.md
  content/edge-k8s/edge-k8s-troubleshooting-bundle/edge-k8s-cr-status-validation-loop-backoff.md
  content/edge-k8s/edge-operations-bundle/monitoring.md
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-edge.md
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-logs.md
  content/edge-k8s/installing-edge-on-k8-bundle/air-gapped-installation.md
  content/edge-k8s/installing-edge-on-k8-bundle/configuring-storage.md
  content/edge-k8s/installing-edge-on-k8-bundle/gui-features.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-edge.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator-offline.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator.md
  content/edge-k8s/installing-edge-on-k8-bundle/knowledge-hub.md
  content/edge-k8s/installing-edge-on-k8-bundle/platform-applications.md
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-k8s/installing-edge-on-k8-bundle/user-settings.md
  content/edge-k8s/installing-edge-on-k8.md
  content/edge-k8s/k8-edge-connecting-edge-to-cloud-bundle/k8-edge-register-edge-on-cloud.md
  content/edge-k8s/k8-edge-introduction-bundle/c8y-iot-edge-k8-operator.md
  content/edge-k8s/k8-edge-introduction-bundle/versions.md
  content/edge-k8s/k8-edge-introduction-bundle/what-is-edge-operator.md
  content/edge-k8s/k8-using-edge-bundle/getting-started.md
  content/edge-k8s/k8-using-edge.md
  content/edge-k8s/manage-edge-bundle/restart-operator.md
  content/edge-k8s/manage-edge-bundle/undeploy-edge.md
  content/edge-k8s/manage-edge-bundle/upgrade-operator.md
  content/edge-k8s/manage-edge-bundle/version-upgrade.md
  content/edge-k8s/quickstart.md
  content/edge/configuration-bundle/configuring-microservices.md
  content/edge/edge-introduction-bundle/overview.md
  content/edge/installation-bundle/prerequisites.md
  content/edge/remote-connectivity-bundle/accessing-the-edge-appliance-remotely-through-ssh.md
  static/files/edge-k8s/c8yedge-operator-install.sh
  static/files/edge-k8s/c8yedge-sample.yaml
  static/files/edge-k8s/c8yedge.yaml
  static/files/edge-k8s/c8yedge_registry_sync-1018.0.1-py3-none-any.whl
  static/files/edge-k8s/c8yedge_repository_sync-1018.0.0-py3-none-any.whl
  static/files/edge-k8s/custom-environment-variables.yaml
Labels: 10.18.0, Edge

#2323 [Edge 1018 Fix-1] [release/y2024] Edge 1018.0.1 Fix release updates -- Fixed broken tables in mongodb section
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-mongodb-cred-secret.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-mongodb.md
Labels: release/y2024

#2308 Create ui-c8y-1020-13-0-has-external-origin-resolved-in-6724-graft-release-cd-6776.md
  content/change-logs/platform-services/ui-c8y-1020-13-0-has-external-origin-resolved-in-6724-graft-release-cd-6776.md
Labels: automated-change-note

#2322 Create ui-c8y-1020-13-4-logs-device-tab-fixes-6727-graft-release-cd-6799.md
  content/change-logs/device-management/ui-c8y-1020-13-4-logs-device-tab-fixes-6727-graft-release-cd-6799.md
Labels: automated-change-note
