Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-12, with the labels that each got.

#2650 Create ui-c8y-1021-4-3-only-error-from-auth-external-server-are-shown-in-additional-modal.md
  content/change-logs/platform-services/ui-c8y-1021-4-3-only-error-from-auth-external-server-are-shown-in-additional-modal.md
Labels: automated-change-note

#2686 Create ui-c8y-1021-9-0-fixed-data-grid-group-dropdown-issues-7610-graft-release-cd-7642.md
  content/change-logs/device-management/ui-c8y-1021-9-0-fixed-data-grid-group-dropdown-issues-7610-graft-release-cd-7642.md
Labels: automated-change-note

#2533 Create ui-c8y-1020-36-0-cherry-pick-of-all-feature-31-cccab-4-f-43-f.md
  content/change-logs/platform-services/ui-c8y-1020-36-0-cherry-pick-of-all-feature-31-cccab-4-f-43-f.md
Labels: automated-change-note

#2685 Create ui-c8y-1021-9-0-limits-tab-in-tenant-details-7260-graft-release-cd-7669.md
  content/change-logs/platform-services/ui-c8y-1021-9-0-limits-tab-in-tenant-details-7260-graft-release-cd-7669.md
Labels: automated-change-note

#2684 Update/cdh minor adaptations
  content/datahub/datahub-overview-bundle/datahub-at-a-glance.md
  content/datahub/datahub-overview-bundle/documentation-overview.md
  content/datahub/integrating-datahub-with-other-products-bundle/integration-trendminer.md
  content/datahub/operating-datahub-bundle/viewing-audit-logs.md
  content/datahub/setting-up-datahub-bundle/defining-permissions.md
  content/datahub/setting-up-datahub-bundle/setting-up-initial-configuration.md
  content/datahub/working-with-datahub-bundle/aligning-data-modeling-and-offloading.md
  content/datahub/working-with-datahub-bundle/configuring-offloading-jobs.md
  content/datahub/working-with-datahub-bundle/monitoring-offloading-jobs.md
  content/datahub/working-with-datahub-bundle/offloading-base-collections.md
  content/datahub/working-with-datahub-bundle/querying-offloaded.md
Labels: 10.18.0, release/y2024

#2696 Create ui-c8y-1021-13-1-label-for-display-as-function-overlapped-by-header-graft-release-cd.md
  content/change-logs/application-enablement/ui-c8y-1021-13-1-label-for-display-as-function-overlapped-by-header-graft-release-cd.md
Labels: automated-change-note

#2688 Create ui-c8y-1021-11-0-migrated-custom-properties-form-7484-graft-release-cd-7682.md
  content/change-logs/platform-services/ui-c8y-1021-11-0-migrated-custom-properties-form-7484-graft-release-cd-7682.md
Labels: automated-change-note

#2699 Create ui-c8y-1021-14-0-as-a-developer-i-want-to-implement-a-generic-datapoints-export.md
  content/change-logs/application-enablement/ui-c8y-1021-14-0-as-a-developer-i-want-to-implement-a-generic-datapoints-export.md
Labels: automated-change-note

#2560 updated support page
  content/additional-resources/contacting-support.md
  content/edge-kubernetes/k8s-troubleshooting-bundle/edge-k8s-does-not-show-as-device-on-cloud.md
  content/enterprise-tenant/support-user-access.md
  themes/c8ydocs/layouts/shortcodes/c8y-support-email.html
  themes/c8ydocs/layouts/shortcodes/c8y-support-link.html
  themes/c8ydocs/layouts/shortcodes/c8y-support-portal.html
  themes/c8ydocs/layouts/shortcodes/c8y-tech-community-link.html
  themes/c8ydocs/layouts/shortcodes/email-c8y-info.html
  themes/c8ydocs/layouts/shortcodes/link-sag-cloud.html
  themes/c8ydocs/layouts/shortcodes/sag-support.html
Labels: not-yet-deployed

#2694 Create ui-c8y-1021-13-0-filtering-alarms-by-date-in-the-alarms-page-backport-7628.md
  content/change-logs/application-enablement/ui-c8y-1021-13-0-filtering-alarms-by-date-in-the-alarms-page-backport-7628.md
Labels: automated-change-note

#2689 Create ui-c8y-1021-11-1-bulk-operation-scheduling-delay-in-milliseconds-not-working-7607-graft-release.md
  content/change-logs/device-management/ui-c8y-1021-11-1-bulk-operation-scheduling-delay-in-milliseconds-not-working-7607-graft-release.md
Labels: automated-change-note

#2690 Create ui-c8y-1018-503-135-bulk-operation-scheduling-delay-in-milliseconds-not-working-7607-graft-release.md
  content/change-logs/device-management/ui-c8y-1018-503-135-bulk-operation-scheduling-delay-in-milliseconds-not-working-7607-graft-release.md
Labels: automated-change-note

#2706 Create ui-c8y-1021-18-0-enable-global-context-for-auto-refresh-6203-graft-release-cd-7739.md
  content/change-logs/application-enablement/ui-c8y-1021-18-0-enable-global-context-for-auto-refresh-6203-graft-release-cd-7739.md
Labels: automated-change-note

#2552 PAQ: Changed "Software AG Designer" to "Apama Plugin for Eclipse"
  content/concepts/realtime-bundle/realtime-processing-in-cumulocity.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
  content/streaming-analytics/epl-apps-bundle/best-practices.md
  themes/c8ydocs/layouts/shortcodes/apama-plugin-for-eclipse.html
  themes/c8ydocs/layouts/shortcodes/sag-designer.html
Labels: not-yet-deployed, streaming-analytics

#2707 Create ui-c8y-1021-19-0-added-docs-information-in-the-modal-of-smart-group-creation.md
  content/change-logs/device-management/ui-c8y-1021-19-0-added-docs-information-in-the-modal-of-smart-group-creation.md
Labels: automated-change-note

#2700 Create ui-c8y-1021-15-0-enhance-dashboard-template-assignment-for-untyped-devices-graft-release-cd-7736.md
  content/change-logs/application-enablement/ui-c8y-1021-15-0-enhance-dashboard-template-assignment-for-untyped-devices-graft-release-cd-7736.md
Labels: automated-change-note

#2711 Create ui-c8y-1021-22-0-allows-to-add-a-tab-to-the-alarm-detail-view.md
  content/change-logs/application-enablement/ui-c8y-1021-22-0-allows-to-add-a-tab-to-the-alarm-detail-view.md
Labels: automated-change-note

#2701 Create ui-c8y-1021-16-0-added-operations-created-and-operation-updated-columns-for-usage-statistics-7688.md
  content/change-logs/platform-services/ui-c8y-1021-16-0-added-operations-created-and-operation-updated-columns-for-usage-statistics-7688.md
Labels: automated-change-note

#2476 MTM-60219 Exports component documentation
  content/cockpit/exports-bundle/index.html
  content/cockpit/exports-bundle/managing-exports.md
  content/cockpit/exports-bundle/working-with-exports.md
  content/cockpit/exports.md
  content/cockpit/widgets-collection.md
  static/images/users-guide/cockpit/cockpit-exports-button.png
  static/images/users-guide/cockpit/cockpit-exports-configuration.png
Labels: not-yet-deployed

#2615 MTM-61598 DPT widget documentation update
  content/cockpit/widgets-collection.md
  content/cockpit/working-with-dashboards.md
  static/images/users-guide/cockpit/cockpit-dashboard-global-time.png
  static/images/users-guide/cockpit/cockpit-data-point-table-widget-with-auto-scroll.png
  static/images/users-guide/cockpit/cockpit-datapointtable.png
Labels: not-yet-deployed

#2722 Create ui-c8y-1021-25-3-done-steps-in-stepper-are-not-properly-marked-when-user-navigates.md
  content/change-logs/application-enablement/ui-c8y-1021-25-3-done-steps-in-stepper-are-not-properly-marked-when-user-navigates.md
Labels: automated-change-note

#2724 [DM-4251] lwm2m firmware update reset mechanism fix - changelog
  content/change-logs/device-management/lwm2m-agent-10-20-443-0-fix-fw-update-reset.md
Labels: DM-docs

#2728 [DM-4251] [GRAFT] [y2024] lwm2m firmware update reset mechanism fix - changelog
  content/change-logs/device-management/cumulocity-10-18-540-262-LWM2M-fw-update-reset-fix.md
Labels: DM-docs

#2715 Create ui-c8y-1021-24-1-allow-device-type-dashboards-to-work-for-device-types-containing-a.md
  content/change-logs/application-enablement/ui-c8y-1021-24-1-allow-device-type-dashboards-to-work-for-device-types-containing-a.md
Labels: automated-change-note

#2721 Create ui-c8y-1018-503-137-hide-context-indicators-in-untranslated-strings-in-runtime-7679-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1018-503-137-hide-context-indicators-in-untranslated-strings-in-runtime-7679-graft-release.md
Labels: automated-change-note

#2710 [DM-4179] [BE] lwm2m binary serialization announcement
  content/change-logs/device-management/lwm2m-agent_10-20-440-0_lwm2m-agent-binary-serialization-announcement.md
Labels: DM-docs

#2731 Create ui-c8y-1021-26-0-add-codex-entry-for-export-component-7327-graft-release-cd-7807.md
  content/change-logs/application-enablement/ui-c8y-1021-26-0-add-codex-entry-for-export-component-7327-graft-release-cd-7807.md
Labels: automated-change-note

#2737 Cleanup/adapt obsolete links
  content/datahub/running-datahub-on-the-edge-bundle/datahub-edge-overview.md
  content/datahub/running-datahub-on-the-edge-bundle/operating-datahub-edge.md
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge.md
  static/images/datahub-guide/datahub-configure-addtl-cols.png
  static/images/datahub-guide/datahub-configure-offloading-tasks.png
  static/images/datahub-guide/datahub-edge-overview.png
  static/images/datahub-guide/datahub-highlevel-concept.png
  static/images/datahub-guide/trendminer-highlevel-concept.png
Labels: auto-backport-to-release/y2024

#2713 Replace references to download server
  config.toml
  content/about_documentation/scope.md
  content/additional-resources/more-documentation.md
  content/concepts/tenant-hierarchy-bundle/tenant-levels.md
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge.md
  content/device-integration/device-certificates.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/accessing-edge.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-operator.md
  content/edge/edge-connectivity-bundle/accessing-the-edge-appliance-from-the-cumulocity-iot-tenant.md
  content/edge/edge-connectivity-bundle/updating-edge-remotely.md
  content/edge/edge-databroker-bundle/databroker-edge.md
  content/edge/edge-installation-bundle/accessing-platform.md
  content/edge/edge-installation-bundle/installing-edge-using-gui.md
  content/edge/edge-installation-bundle/prerequisites.md
  content/edge/edge-update-bundle/migration-1017-to-1018.md
  content/edge/edge-update-bundle/updating-edge-gui.md
  content/edge/operating-edge-bundle/diagnostics.md
  content/edge/operating-edge-bundle/edge-troubleshooting.md
  content/enterprise-tenant/support-user-access.md
  content/get-familiar-with-the-ui/platform-access.md
  content/get-familiar-with-the-ui/user-settings.md
  content/glossary/y.md
  content/microservice-sdk/general-aspects-bundle/migration.md
  content/service-terms/releases.md
  themes/c8ydocs/layouts/shortcodes/c8y-resources-server-link.html
  themes/c8ydocs/layouts/shortcodes/c8y-resources-server.html
  themes/c8ydocs/layouts/shortcodes/email-sag.html
  themes/c8ydocs/layouts/shortcodes/link-sag-documentation.html
  themes/c8ydocs/layouts/shortcodes/link-sag-privacy-statement.html
Labels: not-yet-deployed

#2703 Create ui-c8y-1021-17-0-load-translations-from-dedicated-app-7748.md
  content/change-logs/application-enablement/ui-c8y-1021-17-0-load-translations-from-dedicated-app-7748.md
Labels: automated-change-note

#2708 Create ui-c8y-1021-20-0-migrate-translation-ui-from-dtm-7751.md
  content/change-logs/platform-services/ui-c8y-1021-20-0-migrate-translation-ui-from-dtm-7751.md
Labels: automated-change-note

#2745 CDH-4616: Adapt documentation of scheduler health endpoint
  content/datahub/operating-datahub-bundle/monitoring-endpoints.md
Labels: 10.18.0

#2748 Create ui-c8y-1021-27-0-plugins-installed-via-tag-should-also-correctly-show-up-in-the.md
  content/change-logs/application-enablement/ui-c8y-1021-27-0-plugins-installed-via-tag-should-also-correctly-show-up-in-the.md
Labels: automated-change-note

#2570 modified references to SAG tech community
  config.toml
  content/additional-resources/contacting-support.md
  content/additional-resources/more-resources.md
  content/cockpit/managing-assets-bundle/asset-hierarchy.md
  content/cockpit/managing-assets-bundle/working-with-assets.md
  content/cockpit/widgets-collection.md
  content/cockpit/working-with-dashboards.md
  content/machine-learning/AI-ML-integration-bundle/step2-deploy-ai-ml-model.md
  content/machine-learning/AI-ML-integration-bundle/step3-set-up-model-workflow.md
  content/microservice-sdk/java-bundle/introduction.md
  content/quick-start/first-steps.md
  content/standard-tenant/ecosystem.md
  content/streaming-analytics/troubleshooting-bundle/alarms.md
  content/web/gettingstarted.md
  content/web/introduction.md
  content/welcome-developers/developer-topics.md
  themes/c8ydocs/layouts/shortcodes/c8y-tech-community.html
  themes/c8ydocs/layouts/shortcodes/link-sag-dev-community.html
  themes/c8ydocs/layouts/shortcodes/sag-dev-community.html
Labels: not-yet-deployed
