Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2024-09, with the labels that each got.

#2379 Changelogs for Digital Twin Manager Plugins 1.0.1
  content/change-logs/application-enablement/dtm-1.0.1-resolved-multiple-tabs-issue-using-the-asset-types-realtime-service.md
Labels: automated-change-note

#2406 Create ui-c8y-1020-24-0-add-support-for-module-less-plugins-6979.md
  content/change-logs/application-enablement/ui-c8y-1020-24-0-add-support-for-module-less-plugins-6979.md
Labels: automated-change-note

#2376 Create ui-c8y-1020-18-4-added-a-fix-for-official-plugins-ribbon-not-being-shown-6839.md
  content/change-logs/application-enablement/ui-c8y-1020-18-4-added-a-fix-for-official-plugins-ribbon-not-being-shown-6839.md
Labels: automated-change-note

#2398 Create ui-c8y-1020-21-0-firmware-list-to-grid-view-migration.md
  content/change-logs/device-management/ui-c8y-1020-21-0-firmware-list-to-grid-view-migration.md
Labels: automated-change-note

#2413 PAB-4603: Remove doc for alternative data source for model simulation
  content/streaming-analytics/analytics-builder-bundle/model-simulation.md
  content/streaming-analytics/analytics-builder-bundle/monitoring-and-configuration.md
Labels: auto-backport, auto-backport-to-release/y2024, streaming-analytics

#2395 Automated Handover: 25.223.0 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/utility.md
Labels: streaming-analytics

#2375 PAB-4550: Change log for breadcrumbs in Streaming Analytics
  content/change-logs/analytics/apama-in-c8y-20240821-Added-breadcrumbs-to-Streaming-Analytics-application.md
Labels: streaming-analytics

#2374 PAB-4567 + PAB-4573: Streaming Analytics, breadcrumbs and changed names
  content/streaming-analytics/analytics-builder-bundle/getting-started.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-manager.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
  static/images/streaming-analytics/analytics-builder/first-steps-instance-editor.png
  static/images/streaming-analytics/analytics-builder/instance-editor.png
  static/images/streaming-analytics/analytics-builder/model-editor.png
  static/images/streaming-analytics/analytics-builder/model-manager-samples.png
  static/images/streaming-analytics/analytics-builder/model-manager.png
  static/images/streaming-analytics/epl-apps/epl-apps-cards.png
  static/images/streaming-analytics/epl-apps/epl-apps-editor.png
Labels: streaming-analytics

#2305 [DM-2111] lwm2m improvement - required availability
  content/change-logs/device-management/lwm2m-agent-10-20-378-0-possible-to-disable-required-availability-mgmt.md
  content/protocol-integration/lwm2m-bundle/registering-lwm2m-devices.md
Labels: not-yet-deployed

#2405 Create ui-c8y-1020-23-1-error-appears-for-checking-active-filters-on-subtenants-6904-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1020-23-1-error-appears-for-checking-active-filters-on-subtenants-6904-graft-release.md
Labels: automated-change-note

#2419 Create ui-c8y-1020-24-3-remotes-from-manifest-should-be-listed-in-plugin-list-7016.md
  content/change-logs/application-enablement/ui-c8y-1020-24-3-remotes-from-manifest-should-be-listed-in-plugin-list-7016.md
Labels: automated-change-note

#2360 [EDGE CIE-5228] address offline instllation feedback
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-cloud-tenant.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-externally-hosted-mongodb-tls-secret.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-microservices.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-mongodb.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-kubernetes/edge-custom-resource-definition-bundle/tls-secret.md
  content/edge-kubernetes/edge-operations-bundle/monitoring-edge-metrics.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/accessing-edge.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/configuring-storage.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-edge.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/k8-edge-configuring-proxy.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-kubernetes/k8-edge-connecting-edge-to-cloud-bundle/k8-edge-register-edge-on-cloud.md
  content/edge-kubernetes/k8-edge-connecting-edge-to-cloud-bundle/software-management-docs.md
  content/edge-kubernetes/quickstart.md
  static/files/edge-k8s/c8yedge-pv-local-path.yaml
  static/files/edge-k8s/c8yedge-pv-nfs.yaml
  static/files/edge-k8s/c8yedge-sample.yaml
  static/files/edge-k8s/c8yedge.yaml
  static/files/edge-k8s/edge-k8-internal-db.png
  static/files/edge-k8s/edge-k8-overview.png
  static/files/edge-k8s/edge-k8s-check-remote-update-full-log.png
  static/files/edge-k8s/edge-k8s-check-remote-update-status.png
  static/files/edge-k8s/edge-k8s-cookie-banner.png
  static/files/edge-k8s/edge-k8s-firmware-current-version.png
  static/files/edge-k8s/edge-k8s-firmware-repository.png
  static/files/edge-k8s/edge-k8s-firmware-version-info-tab.png
  static/files/edge-k8s/edge-k8s-login-banner.png
  static/files/edge-k8s/edge-k8s-remote-diagnostics.png
  static/files/edge-k8s/edge-k8s-reset-password.png
  static/files/edge-k8s/edge-k8s-select-firmware.png
Labels: auto-backport-to-release/y2024, Edge

#2361 [EDGE CIE-5228] address offline instllation feedback - GRAFT to 10.18
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-cloud-tenant.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-externally-hosted-mongodb-tls-secret.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-microservices.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-mongodb.md
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-k8s/edge-custom-resource-definition-bundle/tls-secret.md
  content/edge-k8s/edge-operations-bundle/monitoring-edge-metrics.md
  content/edge-k8s/installing-edge-on-k8-bundle/accessing-edge.md
  content/edge-k8s/installing-edge-on-k8-bundle/configuring-storage.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-edge.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator-offline.md
  content/edge-k8s/installing-edge-on-k8-bundle/install-operator.md
  content/edge-k8s/installing-edge-on-k8-bundle/k8-edge-configuring-proxy.md
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-k8s/k8-edge-connecting-edge-to-cloud-bundle/k8-edge-register-edge-on-cloud.md
  content/edge-k8s/k8-edge-connecting-edge-to-cloud-bundle/software-management-docs.md
  content/edge-k8s/quickstart.md
  static/files/edge-k8s/c8yedge-pv-local-path.yaml
  static/files/edge-k8s/c8yedge-pv-nfs.yaml
  static/files/edge-k8s/c8yedge-sample.yaml
  static/files/edge-k8s/c8yedge.yaml
Labels: 10.18.0, Edge

#2425 Create ui-c8y-1020-26-0-add-new-branding-editor-7017.md
  content/change-logs/application-enablement/ui-c8y-1020-26-0-add-new-branding-editor-7017.md
Labels: automated-change-note

#2433 [EDGE CIE-5228] fix k3s installation script - GRAFT to 10.18
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-k8s/quickstart.md
Labels: 10.18.0, Edge

#2432 [EDGE CIE-5228] fix k3s installation script
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  content/edge-kubernetes/quickstart.md
Labels: auto-backport, auto-backport-to-release/y2024, Edge

#2439 [EDGE CIE-5228] SAN certificate support address ABB's feedback - GRAFT to 10.18
  content/edge-k8s/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-k8s/installing-edge-on-k8-bundle/prerequisites.md
  content/edge/installation-bundle/prerequisites.md
  static/files/edge-k8s/c8yedge.yaml
Labels: 10.18.0, Edge

#2438 [EDGE CIE-5228] SAN certificate support address ABB's feedback
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  content/edge/edge-installation-bundle/prerequisites.md
  static/files/edge-k8s/c8yedge.yaml
Labels: auto-backport, auto-backport-to-release/y2024, Edge

#2442 Create ui-c8y-1020-26-3-support-cloning-apps-to-different-context-path-even-if-they-contain.md
  content/change-logs/application-enablement/ui-c8y-1020-26-3-support-cloning-apps-to-different-context-path-even-if-they-contain.md
Labels: automated-change-note

#2447 [PAB-4624] - Improve documentation around apama-ctrl variants
  content/streaming-analytics/introduction-analytics-bundle/microservice-and-applications.md
Labels: auto-backport, not-yet-deployed, auto-backport-to-release/y2024, streaming-analytics

#2449 [Backport y2024] [PAB-4624] - Improve documentation around apama-ctrl variants
  content/streaming-analytics/introduction-analytics-bundle/microservice-and-applications.md
Labels: streaming-analytics

#2429 Changelogs for Digital Twin Manager UI and Microservice 1020.2.0
  content/change-logs/application-enablement/dtm-1020.2.0-added-an-expand-button-to-view-child-asset-models-in-the-tree-view-after-import.md
  content/change-logs/application-enablement/dtm-1020.2.0-added-subassets-module-as-a-plugin-into-dtm-plugins.md
  content/change-logs/application-enablement/dtm-1020.2.0-corrected-display-of-key-value-pairs-of-location-property.md
  content/change-logs/application-enablement/dtm-1020.2.0-fixed-label-display-for-default-location-properties-on-the-sub-asset-page.md
  content/change-logs/application-enablement/dtm-1020.2.0-fixed-ui-issues-for-sample-asset-models.md
  content/change-logs/application-enablement/dtm-1020.2.0-removal-of-asset-models-and-asset-model-samples-tabs-from-the-new-asset-models-screen.md
  content/change-logs/application-enablement/dtm-1020.2.0-rename-microservice-dtm-ms-to-dtm.md
Labels: not-yet-deployed, automated-change-note

#2428 Changelogs for Digital Twin Manager Plugins 1.1.0
  content/change-logs/application-enablement/dtm-1.1.0-added-subassets-module-to-dtm-plugins-component.md
  content/change-logs/application-enablement/dtm-1.1.0-resolved-multiple-tabs-issue-using-the-asset-types-realtime-service.md
Labels: not-yet-deployed, automated-change-note
