Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2025-09, with the labels that each got.

#3676 Adding a note for missing CDH migration guide.
  content/edge-kubernetes/manage-edge-bundle/migrating-edge-appliance.md
Labels: Edge

#3692 Fix anchor link for REST API section
  content/cloud-remote-access/cra-api-bundle/device-agent-implementation.md
Labels: DM-docs

#3717 Rename Analytics rules plugin to Smart rules 2.0 in shell app docs
  content/change-logs/application-enablement/ui-c8y-new-analytics-rules-plugin-in-public-review.md
  content/change-logs/device-management/ui-c8y-new-analytics-rules-plugin-as-public-preview.md
  content/cockpit/managing-assets-bundle/working-with-assets.md
  content/cockpit/smart-rules-new.md
  content/device-management-application/viewing-device-details.md
  static/llms.txt
Labels: not-yet-deployed, streaming-analytics

#3704 Feature/dm 4867/lwm2m notifications2 operation subs behavior announcement
  content/change-logs/device-management/lwm2m-agent-1021-10-30-notifications2-operation-subs-behavior-change.md
Labels: not-yet-deployed, DM-docs, DM-backend

#3681 Change log entry for EPL Apps Util.formatTime [PAM-35326]
  content/change-logs/analytics/apama-in-c8y-20250829-Cumulocity_Utils_FormatTime.md
Labels: streaming-analytics
