Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2025-08, with the labels that each got.

#3550 Change Analytics Builder icon to be more consistent [PAB-4873]
  static/images/streaming-analytics/analytics-builder/card-with-runtime-error.png
  static/images/streaming-analytics/analytics-builder/instance-editor.png
  static/images/streaming-analytics/analytics-builder/model-editor.png
  static/images/streaming-analytics/analytics-builder/model-manager-samples.png
  static/images/streaming-analytics/analytics-builder/model-manager.png
  static/images/streaming-analytics/epl-apps/epl-apps-cards.png
  static/images/streaming-analytics/introduction-analytics/streaming-analytics-home-screen.png
Labels: streaming-analytics

#3624 Management tenant migration
  content/edge-kubernetes/manage-edge-bundle/migrating-edge-appliance.md
  static/files/edge-k8s/c8yedge-appliance-migration-db-restore.sh
Labels: Edge

#3404 [EDGE CIE-5346] Appliance VM to K8S Edge Migration
  content/edge-kubernetes/manage-edge-bundle/migrating-edge-appliance.md
  static/files/edge-k8s/c8yedge-appliance-migration-db-restore.sh
Labels: Edge

#3646 [EDGE] Fix incorrect links
  content/edge-kubernetes/manage-edge-bundle/migrating-edge-appliance.md
Labels: Edge

#3638 DM-3509 Add documentation for CRA supported protocols
  content/cloud-remote-access/cra-api-bundle/device-agent-implementation.md
  content/cloud-remote-access/setting-up-cloud-remote-access-bundle/prerequisites.md
  content/cloud-remote-access/setting-up-cloud-remote-access.md
Labels: DM-docs

#3616 [DM-4592] write a change log for the develop branch release y2025
  content/change-logs/device-management/actility-1-31-20-when-deveui-request-is-missing-use-it-from-uplink.md
Labels: DM-docs, DM-backend

#3615 [DM-4592] write a change log for the develop branch release
  content/change-logs/device-management/actility-2-0-45-when-deveui-request-is-missing-use-it-from-uplink.md
Labels: DM-docs, DM-backend
