Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2025-06, with the labels that each got.

#3400 [EDGE CIE-5316] Clean-up appliance vm docs - GRAFT INTO DEVELOP
  content/concepts/concepts-introduction-bundle/platform-management.md
  content/datahub/running-datahub-on-the-edge-bundle/datahub-edge-overview.md
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge-on-k8s.md
  content/edge-card.md
  content/edge-kubernetes-card.md
  content/glossary/c.md
  content/sector/edge_server/_index.md
  content/service-terms/quotas.md
  content/streaming-analytics/troubleshooting-bundle/diagnostics-download.md
  content/streaming-analytics/troubleshooting-bundle/logfiles.md
Labels: Edge

#3418 [DM-4670] - y2025 changelog for bulk device operations fixes
  content/change-logs/device-management/cumulocity-2025-0-101-bulk-device-operations-count-fix.md
  content/change-logs/device-management/cumulocity-2025-0-101-bulk-device-operations-delay-fix.md
Labels: DM-docs

#3314 MTM-63436: Update MQTT Service docs with unclean session rejection in…
  content/device-integration/mqtt-service-bundle/implementation.md
Labels: not-yet-deployed

#3425 Making the 'c8yedge' install path less confusing
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-edge-with-c8yedge-cli.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-edge-with-edge-operator.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  static/files/edge-k8s/c8yedge-operator-install.sh
Labels: Edge

#3393 Change log entry for Streaming Analytics Python Upgrade
  content/change-logs/analytics/apama-in-c8y-2025-05-29-Python-Upgrade.md
Labels: not-yet-deployed, streaming-analytics

#3339 [MTM-63365] adapted table and parameters about microservice-maven-plugin-in and version info
  content/microservice-sdk/general-aspects-bundle/microservice-manifest.md
  content/microservice-sdk/java-bundle/developing-microservice.md
Labels: Draft

#3420 Docs for TP souce or destination multi-select and instance name/notes [PAB-4743]
  content/streaming-analytics/analytics-builder-bundle/using-the-instance-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  static/images/streaming-analytics/analytics-builder/instance-editor.png
Labels: streaming-analytics

#3395 Docs for Analytics Rules plugin [PAB-4742]
  content/streaming-analytics/analytics-builder-bundle/using-the-instance-editor.md
  content/streaming-analytics/analytics-builder-bundle/using-the-model-editor.md
  content/streaming-analytics/analytics-rules-plugin-bundle/getting-started.md
  content/streaming-analytics/analytics-rules-plugin-bundle/index.html
  content/streaming-analytics/analytics-rules-plugin-bundle/understanding-the-plugin.md
  content/streaming-analytics/analytics-rules-plugin.md
  static/images/streaming-analytics/analytics-builder/from-context-restrict-to.png
  static/images/streaming-analytics/analytics-builder/instance-editor.png
  static/images/streaming-analytics/analytics-rules-plugin/add-rule-for-selected-model.png
  static/images/streaming-analytics/analytics-rules-plugin/analytics-rules-list.png
  static/images/streaming-analytics/analytics-rules-plugin/cockpit-group.png
  static/images/streaming-analytics/analytics-rules-plugin/create-alarm-model.png
  static/images/streaming-analytics/analytics-rules-plugin/create-model-from-sample.png
  static/images/streaming-analytics/analytics-rules-plugin/empty-analytics-rule.png
  static/images/streaming-analytics/analytics-rules-plugin/production-mode-validation.png
  static/images/streaming-analytics/analytics-rules-plugin/select-tp-type.png
  static/images/streaming-analytics/analytics-rules-plugin/template-parameter.png
Labels: streaming-analytics
