Repository Cumulocity-IoT/c8y-docs, pull requests merged in 2025-01, with the labels that each got.

#2754 Create ui-c8y-1021-28-0-migrate-map-components-used-in-dm-and-remove-legacy-code-where.md
  content/change-logs/device-management/ui-c8y-1021-28-0-migrate-map-components-used-in-dm-and-remove-legacy-code-where.md
Labels: automated-change-note

#2759 Create ui-c8y-1021-22-3-allow-device-type-dashboards-to-work-for-device-types-containing-a.md
  content/change-logs/application-enablement/ui-c8y-1021-22-3-allow-device-type-dashboards-to-work-for-device-types-containing-a.md
Labels: automated-change-note

#2756 DM-4225 change-log-prevent-resource-instance-level-operation-for-LWM2M-1-0-device
  content/change-logs/device-management/lwm2m-agent-2-1-0-blocking-resource-instance-operation-for-lwm2m-1-0-devices.md
Labels: DM-docs, DM-backend

#2761 DM-4197 2024 LWM2M release note split device registration features
  .github/workflows/pull-request.yml
  .github/workflows/staging.yml
  content/change-logs/device-management/cumulocity-10-18-288-0-LWM2M-PSK-generated-security-option.md
  content/change-logs/device-management/cumulocity-10-18-288-0-LWM2M-X-509-security-mode-support.md
  content/change-logs/device-management/cumulocity-10-18-288-0-LWM2M-bootstrap-and-lwm2m-server-different-security-mode-support.md
  content/change-logs/device-management/cumulocity-10-18-288-0-LWM2M-connection-disable-support.md
  content/change-logs/device-management/cumulocity-10-18-288-0-X-509-security-mode-support.md
  content/change-logs/device-management/ui-c8y-10-18-501-0-New-toggle-for-switching-off-empty-data.md
Labels: DM-docs

#2760 Create ui-c8y-1021-22-4-fix-app-switcher-alignment-in-mobile-7865-graft-release-y-2025.md
  content/change-logs/application-enablement/ui-c8y-1021-22-4-fix-app-switcher-alignment-in-mobile-7865-graft-release-y-2025.md
Labels: automated-change-note

#2668 Automated Handover: 24.41.17 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/utility.md
Labels: not-yet-deployed, streaming-analytics

#2773 PAB-4695 - Time format smart-rule-variable example issue fixed.
  content/cockpit/smart-rules-collection.md
Labels: auto-backport, auto-backport-to-release/y2024, auto-backport-to-release/y2025

#2705 Updated DTM screenshots with new branding changes
  static/images/dtm/asset-type/dtm-asset-type-export.png
  static/images/dtm/asset-type/dtm-asset-type-import.png
  static/images/dtm/asset-type/dtm-asset-type-view.png
  static/images/dtm/assets/dtm-assets-add-child-asset.png
  static/images/dtm/assets/dtm-assets-add-multiple-instance.png
  static/images/dtm/assets/dtm-assets-asset-hierarchy.png
  static/images/dtm/assets/dtm-assets-asset-tree-page.png
  static/images/dtm/assets/dtm-assets-assign-devices.png
  static/images/dtm/assets/dtm-assets-confirmation-page.png
  static/images/dtm/assets/dtm-assets-move-assets.png
  static/images/dtm/assets/dtm-assets-new-asset.png
  static/images/dtm/assets/dtm-assets-search-assets.png
  static/images/dtm/assets/dtm-assets-subassets-page.png
  static/images/dtm/assets/dtm-assets-view-assets.png
  static/images/dtm/bulk-import/dtm-bulk-import-assign-permissions.png
  static/images/dtm/bulk-import/dtm-bulk-import-failed-asset-imports.png
  static/images/dtm/bulk-import/dtm-bulk-import-import-assets-window.png
  static/images/dtm/bulk-import/dtm-bulk-import-template.png
  static/images/dtm/custom-property/dtm-property-library-complex-property.png
  static/images/dtm/custom-property/dtm-property-library-create-property.png
  static/images/dtm/custom-property/dtm-property-library-export.png
  static/images/dtm/custom-property/dtm-property-library-import.png
  static/images/dtm/custom-property/dtm-property-library-simple-custom-property.png
  static/images/dtm/custom-property/dtm-property-library-type-enum.png
  static/images/dtm/localization/dtm-localization-add-term.png
  static/images/dtm/localization/dtm-localization-main-page.png
Labels: auto-backport-to-release/y2025

#2409 PAB-4250: Add info on Notifications 2.0 to the Streaming Analytics doc
  content/change-logs/analytics/apama-in-c8y-20240902-Notifications-2.0.md
  content/streaming-analytics/analytics-customization-bundle/microservice-permissions.md
  content/streaming-analytics/analytics-customization-bundle/notifications.md
  content/streaming-analytics/epl-apps-bundle/basic-functionality.md
Labels: streaming-analytics

#2767 Create ui-c8y-1021-22-5-fix-application-logs-inner-scroll-7867-graft-release-y-2025-7893.md
  content/change-logs/application-enablement/ui-c8y-1021-22-5-fix-application-logs-inner-scroll-7867-graft-release-y-2025-7893.md
Labels: automated-change-note

#2757 Create ui-c8y-1021-28-1-fix-for-dark-navigator-logo-height-conversion-7859-graft-release-cd.md
  content/change-logs/platform-services/ui-c8y-1021-28-1-fix-for-dark-navigator-logo-height-conversion-7859-graft-release-cd.md
Labels: automated-change-note

#2758 Create ui-c8y-1021-22-2-fix-for-dark-navigator-logo-height-conversion-7870.md
  content/change-logs/platform-services/ui-c8y-1021-22-2-fix-for-dark-navigator-logo-height-conversion-7870.md
Labels: automated-change-note

#2763 Create ui-c8y-1021-29-0-moved-the-size-request-into-the-server-side-data-callback.md
  content/change-logs/device-management/ui-c8y-1021-29-0-moved-the-size-request-into-the-server-side-data-callback.md
Labels: automated-change-note

#2779 Remove SAG references for requesting license keys
  content/edge-kubernetes/edge-custom-resource-definition-bundle/k8-edge-specification.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-operator-offline.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/install-operator.md
  content/edge-kubernetes/installing-edge-on-k8-bundle/prerequisites.md
  content/edge/edge-installation-bundle/prerequisites.md
Labels: auto-backport, auto-backport-to-release/y2024, auto-backport-to-release/y2025

#2752 Create ui-c8y-1021-22-0-allows-to-add-a-tab-to-the-alarm-detail-view.md
  content/change-logs/application-enablement/ui-c8y-1021-22-0-allows-to-add-a-tab-to-the-alarm-detail-view.md
Labels: automated-change-note

#2789 Fix broken link and table formatting
  content/datahub/running-datahub-on-the-edge-bundle/setting-up-datahub-edge.md
Labels: auto-backport, release/y2024, auto-backport-to-release/y2025

#2770 Create ui-c8y-1021-22-7-widget-config-layout-adjustments-7871-graft-release-y-2025-7891.md
  content/change-logs/application-enablement/ui-c8y-1021-22-7-widget-config-layout-adjustments-7871-graft-release-y-2025-7891.md
Labels: automated-change-note

#2780 Create ui-c8y-1021-30-1-fixed-translation-issue-in-web-sdk-7915.md
  content/change-logs/application-enablement/ui-c8y-1021-30-1-fixed-translation-issue-in-web-sdk-7915.md
Labels: automated-change-note

#2777 Create ui-c8y-1021-30-0-copy-software-type-to-device-profile.md
  content/change-logs/device-management/ui-c8y-1021-30-0-copy-software-type-to-device-profile.md
Labels: automated-change-note

#2808 Update location of apama documentation for maintenance lines
  themes/c8ydocs/layouts/shortcodes/link-apama-webhelp.html
  themes/c8ydocs/layouts/shortcodes/link-apamadoc-api.html
Labels: auto-backport, auto-backport-to-release/y2024

#2781 Create ui-c8y-1021-30-1-alias-cannot-be-empty-7817-graft-release-cd-7882.md
  content/change-logs/platform-services/ui-c8y-1021-30-1-alias-cannot-be-empty-7817-graft-release-cd-7882.md
Labels: automated-change-note

#2791 Create ui-c8y-1021-22-11-alias-cannot-be-empty-7817-graft-release-y-2025-7883.md
  content/change-logs/platform-services/ui-c8y-1021-22-11-alias-cannot-be-empty-7817-graft-release-y-2025-7883.md
Labels: automated-change-note

#2802 Create ui-c8y-1021-22-12-backporting-alarms-filtering-in-widgets-to-y-2025-branch-7884.md
  content/change-logs/application-enablement/ui-c8y-1021-22-12-backporting-alarms-filtering-in-widgets-to-y-2025-branch-7884.md
Labels: automated-change-note

#2812 [DM-4354] Document the feature enabling LWM2M to send device data over the C8y MQTT Service
  content/protocol-integration/lwm2m-bundle/mqtt-service-integration.md
Labels: private-preview, lwm2m, DM-docs, DM-backend

#2817 Create ui-c8y-1021-22-16-hide-context-indicators-in-untranslated-strings-in-runtime-7679-graft-release.md
  content/change-logs/application-enablement/ui-c8y-1021-22-16-hide-context-indicators-in-untranslated-strings-in-runtime-7679-graft-release.md
Labels: automated-change-note

#2799 Create ui-c8y-1021-31-0-change-number-of-decimal-places-by-default-to-2-and-not.md
  content/change-logs/application-enablement/ui-c8y-1021-31-0-change-number-of-decimal-places-by-default-to-2-and-not.md
Labels: automated-change-note

#2820 Create ui-c8y-1021-22-18-lwm-2-m-device-protocol-details-rendered-twice-7911-graft-release.md
  content/change-logs/device-management/ui-c8y-1021-22-18-lwm-2-m-device-protocol-details-rendered-twice-7911-graft-release.md
Labels: automated-change-note

#2821 Create ui-c8y-1021-32-3-lwm-2-m-device-protocol-details-rendered-twice-7911-graft-release.md
  content/change-logs/device-management/ui-c8y-1021-32-3-lwm-2-m-device-protocol-details-rendered-twice-7911-graft-release.md
Labels: automated-change-note

#2828 [CIA-946] Remove reference to Barista.io demo.
  content/sensor-app/sensorapp-introduction.md
Labels: auto-backport, auto-backport-to-release/y2024, auto-backport-to-release/y2025

#2805 MTM-61884: Change log for tenant context operation api
  content/change-logs/analytics/cumulocity-undefined-notifications-tenant-context-operations-wildcard.md
  content/change-logs/platform-services/cumulocity-undefined-notifications-tenant-context-event-type-filter.md
Labels: not-yet-deployed

#2832 DM-3885 Loriot Document Memory Usage limits
  content/service-terms/quotas.md
Labels: DM-backend

#2831 Create ui-c8y-1021-32-4-properly-reset-remotes-8040.md
  content/change-logs/application-enablement/ui-c8y-1021-32-4-properly-reset-remotes-8040.md
Labels: automated-change-note

#2850 Automated Handover: 25.339.3 Analytics Builder Block Reference Documentation.
  content/streaming-analytics/block-reference-bundle/aggregate.md
  content/streaming-analytics/block-reference-bundle/calculation.md
  content/streaming-analytics/block-reference-bundle/utility.md
Labels: streaming-analytics

#2857 PAB-4691 - Change log entry for duplicate alarms with geofence smart rule
  content/change-logs/analytics/apama-in-c8y-20250128-The-Smartrule-service-will-now-disregard-rule-edits-unless-there-is-a-configuration-change.md
Labels: not-yet-deployed, streaming-analytics

#2844 Replace cockpit screenshots
  content/cockpit/widgets-collection.md
  static/images/users-guide/cockpit/cockpit-alarms-view.png
  static/images/users-guide/cockpit/cockpit-app-configuration.png
  static/images/users-guide/cockpit/cockpit-asset-column-filter.png
  static/images/users-guide/cockpit/cockpit-configuration-nodes.png
  static/images/users-guide/cockpit/cockpit-dashboard-global-time.png
  static/images/users-guide/cockpit/cockpit-dashboard-restore.png
  static/images/users-guide/cockpit/cockpit-dashboard-share.png
  static/images/users-guide/cockpit/cockpit-data-point-library.png
  static/images/users-guide/cockpit/cockpit-dataexplorer-adddatapoint.png
  static/images/users-guide/cockpit/cockpit-dataexplorer.png
  static/images/users-guide/cockpit/cockpit-datapointsgraph-widget.png
  static/images/users-guide/cockpit/cockpit-datapointtable.png
  static/images/users-guide/cockpit/cockpit-export-adddatapoint-measurement.png
  static/images/users-guide/cockpit/cockpit-export-new-schedule.png
  static/images/users-guide/cockpit/cockpit-exports.png
  static/images/users-guide/cockpit/cockpit-groups-subassets.png
  static/images/users-guide/cockpit/cockpit-home-screen.png
  static/images/users-guide/cockpit/cockpit-image-widget-config.png
  static/images/users-guide/cockpit/cockpit-image-widget.png
  static/images/users-guide/cockpit/cockpit-report-add.png
  static/images/users-guide/cockpit/cockpit-reports-list.png
  static/images/users-guide/cockpit/cockpit-reports-navigator.png
  static/images/users-guide/cockpit/cockpit-smart-rules-list.png
  static/images/users-guide/cockpit/cockpit-smartrule-children.png
  static/images/users-guide/cockpit/cockpit-smartrule-info-tab.png
  static/images/users-guide/cockpit/cockpit-widget-alarm-list.png
  static/images/users-guide/cockpit/cockpit-widget-applications.png
  static/images/users-guide/cockpit/cockpit-widget-asset-properties.png
  static/images/users-guide/cockpit/cockpit-widget-asset-table-buttonconfig.png
  static/images/users-guide/cockpit/cockpit-widget-asset-table-example.png
  static/images/users-guide/cockpit/cockpit-widget-asset-table.png
  static/images/users-guide/cockpit/cockpit-widget-event-list.png
  static/images/users-guide/cockpit/cockpit-widget-help-service.png
  static/images/users-guide/cockpit/cockpit-widget-html.png
  static/images/users-guide/cockpit/cockpit-widget-info-gauge.png
  static/images/users-guide/cockpit/cockpit-widget-kpi.png
  static/images/users-guide/cockpit/cockpit-widget-linear-gauge.png
  static/images/users-guide/cockpit/cockpit-widget-map.png
  static/images/users-guide/cockpit/cockpit-widget-markdown.png
  static/images/users-guide/cockpit/cockpit-widget-radial-gauge.png
  static/images/users-guide/cockpit/cockpit-widget-scada.png
  static/images/users-guide/cockpit/dashboard-manager.png
Labels: auto-backport, auto-backport-to-release/y2025
